<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="dataMgr" class="com.taobao.rigel.rap.platform.service.impl.DataMgrImpl">
        <property name="dataDao" ref="dataDao"/>
        <property name="projectMgr" ref="projectMgr"/>
    </bean>
    <bean id="dataDao" class="com.taobao.rigel.rap.platform.dao.impl.DataDaoImpl" parent="baseDao"/>
</beans>