<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <title>欢迎使用RAP        </title>
    #includeNewRapStatic
</head>
<body>
#bodyNewStart

<table class="table table-hover">
    <thead>
    <th>名字</th>
    <th>权限</th>
    <th width="200px">操作</th>
    </thead>
    <tbody>
        #foreach($item in $userList)
        <tr>
            <td>$!utils.escapeInH($item.name)</td>
            <td>#getRoleStr($item.roleId)</td>
            <td>-</td>
        </tr>
        #end
    </tbody>
</table>
#bodyEnd
</body>
</html>