<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <title>欢迎使用RAP        </title>
    #includeNewRapStatic
</head>
<body>
#bodyNewStart
<div style="max-height:450px; overflow-y:auto;">
    <table class="table table-hover">
        <thead>
        <th>名字</th>
        <th>权限</th>
        <th width="200px">操作</th>
        </thead>
        <tbody>
            #foreach($item in $userList)
            <tr>
                <td>$!utils.escapeInH($item.name)</td>
                <td>#getRoleStr($item.roleId)</td>
                <td>
                    #if($item.id == $curUser.id)
                        <span class="label label-default">自己，请善待</span>
                    #elseif($item.roleId==1)
                        <span class="label label-warning">无权修改，人家是超管耶~~~</span>
                    #else
                        <button onclick="accessControl($item.id, $item.roleId);" class="btn btn-warn btn-sm"><span class="glyphicon glyphicon-cog"></span>权限</button>
                        <button onclick="deleteUser($item.id);" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>删除</button>
                    #end
                </td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<div> <button onclick="addUser();" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span>添加用户</button></div>
#bodyEnd


<!-- templates -->
<script type="text/tmpl" id="access-control-tmpl">
    <div class="form-horizontal" role="form">
        <div class="form-group" style="padding:0 20px;">
            <div class="alert alert-info" role="alert">
                * 如果该用户是RAP平台的管理员/超级管理员，您的设置将无效。
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                权限设置
            </label>
            <div class="col-sm-10">
                <input type="radio" value="1" {{^isAdmin}}checked="checked" {{/isAdmin}} id="accessType1" name="accessType">
                <label for="accessType1">
                   普通用户
                </label>
                <input type="radio" value="2" {{#isAdmin}}checked="checked" {{/isAdmin}} id="accessType2" name="accessType">
                <label for="accessType2">
                   管理员
                </label>
            </div>
        </div>

    </div>
</script>
<!-- templates -->
<script type="text/tmpl" id="delete-user-tmpl">
    <div class="form-horizontal" role="form">
        <div class="form-group" style="padding:0 20px;">
            <div class="alert alert-warning" role="alert">
                * 是否确定将该用户从团队中移除？<br />
                移除后，该用户将退出该团队的所有项目。若该用户为项目创建者，项目将归属您的名下，请谨慎操作。
            </div>
        </div>
    </div>
</script>

<script>
    function accessControl(userId, oldAccessType) {
        var isAdmin = oldAccessType == 2 || oldAccessType == 1;
        $.confirm({
            content: $.render($('#access-control-tmpl').text(), {isAdmin : isAdmin}),
            title: '权限设置',
            confirmText: '确认',
            confirmClicked: function() {
                var modal = $(this);
                var accessType = $('#accessType1')[0].checked ? 3 : 2;
                $.post($.route('org.team.changeAccessType'), {
                    userId : userId,
                    accessType : accessType,
                    id : $id
                }, function(data) {
                    modal.modal('hide');
                    window.location.href = "$teamUrl.manage" + "?id=$id";
                }, "JSON");
            }
        });
    }

    function deleteUser(userId) {
        $.confirm({
            content: $.render($('#delete-user-tmpl').text(), {}),
            title: '删除用户',
            confirmText: '确认',
            confirmClicked: function() {
                var modal = $(this);
                $.post($.route('org.team.deleteMember'), {
                    userId : userId,
                    id : $id
                }, function(data) {


                    modal.modal('hide');
                    window.location.href = "$teamUrl.manage" + "?id=$id";
                }, "JSON");
            }
        });
    }
</script>

</body>
</html>