#parse('/tcom/const.inc.vm')


## 权限字符串

#macro (getRoleStr $roleId)#if($roleId==1)超级管理员#elseif($roleId==2)管理员#else 普通用户 #end #end

## 分页
#macro (pager $curPagerNum $pagerSize $totalNum $url)
<p class="list-page" id="list-page-p">
    #set($totalPage = ($totalNum - 1) / $pagerSize + 1)
    <script type="text/javascript">
        var PageSub = {
            sub: function (n) {
                n = baidu.string.trim(n + "");
                if (!/^\d+$/.test(n) || n == 0) {
                    alert("请输入大于0的数字");
                    return false;
                }
                var totalPage = parseInt("$totalPage", 10) || 0;
                if (n > totalPage) {
                    alert("您输入的页码超出总页数范围");
                    return false;
                }

                //保存url
                var l = "$!url",
                // CAUTION 此处正则的修改为保证desc和descend都能用
                        orderPattern = /(\bdesc(?:end)?\b|\borderBy\b)=\w+/g,
                        orderParams = location.href.match(orderPattern) ?
                        '&' + location.href.match(orderPattern).join('&')
                                : '',
                        pageUrl = l + (l.indexOf('?') > 0 ? '&' : '?') + 'queryId=$!queryId&pager.curPagerNum=' + n + orderParams;

                // 调用本地储存
                var localDataId = "$!localDataId";
                if (!!localDataId) {
                    ecStorage.submit('$localDataId', {}, pageUrl);
                }
                else {
                    location.href = pageUrl;
                }
            }
        }
    </script>
    #set($currentPager = $curPagerNum)

    #set($pagerStart = 1)
    #set($pagerEnd = $totalPage)

    #if($currentPager >= $totalPage)
        #set($currentPager = $totalPage)
        #set($pagerEnd = $totalPage)
    #end

    #if($currentPager < 1)
        #set($currentPager = 1)
    #end

    #if($currentPager > 1)
        <a href="#" onclick="PageSub.sub(1);return false;">首页</a>
        <a href="#" onclick="PageSub.sub($currentPager - 1);return false;">&laquo;上一页</a>
    #else
        <b>首页</b>
        <b>&laquo;上一页</b>
    #end

    #if($totalPage > 11)
        #if($currentPager > 5)
            #set($pagerStart = $currentPager - 5)
            #set($pagerEnd = $currentPager + 5)
        #else
            #set($pagerEnd = 10)
        #end
        #if($pagerEnd > $totalPage)
            #set($pagerStart = $totalPage - 9)
            #set($pagerEnd = $totalPage)
        #end
    #end

    #foreach($item in [${pageStart}..${pageEnd}])
        #if($item == $currentPager)
            <b class="page-n">$item</b>
        #else
            <a href="#" onclick="PageSub.sub($item);return false;" class="page-n">$item</a>
        #end
    #end

    #if($currentPager < $totalPage)
        <a href="#" onclick="PageSub.sub($currentPager + 1);return false;">下一页&raquo;</a>
        <a href="#" onclick="PageSub.sub($totalPage);return false;">尾页</a>
    #else
        <b>下一页&raquo;</b>
        <b>尾页</b>
    #end
    <span style="zoom:1;margin-left:5px;">到 <input type="text" class="target-page" id="targetPage" maxlength="9"> 页 <a
            href="#" onclick="PageSub.sub(document.getElementById('targetPage').value);return false;">跳转</a></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共<em>$!totalPage</em>页,<em>$!totalNum</em>条记录&nbsp;&nbsp;
</p>
    #if($totalNum == 0)
    <script type="text/javascript">document.getElementById('list-page-p').innerHTML = '不存在记录';</script>
    #end
#end
#macro (table $lstConfigs $data $options)
#*	
 *	表格控件
 *
 *	@params {List<Map>} $lstConfigs	[必填]列表表头数据，列样式(宽度，自定义属性等)
 *	@params {List<Map>} $data		[必填]表格内容数据
 *	@params {List<Map>} $options	表格其他参数
 *		lstTitles	{list<Map>} [选填]表头, 可以由RD设置, 一般情况下就取${lstConfigs}的值
 *		checkbox	{String}	[选填]用户自行选择的checkbox的name值
 *		checkboxVal	{String}	[选填]用户自行选择的checkbox的id值
 *		hasOp		{Boolean}	[选填]参数为true, 表示有操作列
 *		custom		{Boolean}	[选填]全选是否可以针对整表,依赖于选项checkbox
 *		style		{String}	[选填]表格采用的样式, 默认为"default"
 *		url			{String}	[选填]分页请求的URL, 默认为""
 *		id			{String}	[选填]列表的id, 命名建议[0-9a-zA-Z_]+
 *		needPrint	{Boolean}	[选填]是否需要打印, 默认不需要打印
 *		page		{list<Map>} [选填]每页记录数
 *  @todo 修改id - 固定
 *#
    #if($options.id)
        #set($tbId = $options.id)
    #else
        #if($tbId)
            #set($tbId = $tbId + 1)
        #else
            #set($tbId = 0)
        #end
    #end

    #set($tbNoData = false)
    #if(!$data || $data.size() == 0)
        #set($tbNoData = true)
    #end

<div class="tb-msg" style="display:none;">
    <div class="tb-msg-txt">
        <span id="tbMsg_$tbId"></span>
        <span onclick="this.parentNode.parentNode.style.visibility='hidden'" class="clo-btn">x</span>
    </div>
</div>
<div
    #if(!$options.needPrint)
            ecui="type:ecom-table;id:lst_$tbId;#if($options.hasOp && !$tbNoData)right-lock:1;#end#if($options.checkbox && !$tbNoData)left-lock:1;#{end}vScroll:false"
            style="height:300px;visibility:hidden"
    #end
            id="ectable_$tbId"
##class="ec-ecom-table">
            class="#if($options.needPrint)ec-print-table#end $!options.style">
    <table cellspacing="0" #if($options.width)style="width:$options.width"#end>
        <tbody>
        <tr>
            #if($options.checkbox && !$tbNoData)
                <th style="width:28px;border-right:1px solid $cssMap.bdr_dk;border-left:0 none">
                    #if($options.custom)
                        <div ecui="type:control;id:cbCtnr_$tbId" class="cb-ctnr" id="cbCtnr_$tbId">
                            <div ecui="type:popup;id:cbPop_$tbId;" id="cbPop_$tbId" style="position:absolute">
                                <div>当前页
                                    <div ecui="type:checkbox;id:cball_$tbId;capture:false" id="cbCurList"></div>
                                </div>
                                <div>整列表
                                    <div ecui="type:checkbox;id:cbsall_$tbId;capture:false" id="cbWholeList"></div>
                                </div>
                            </div>
                        </div>
                    #else
                        <div ecui="type:checkbox;id:cball_$tbId"></div>
                    #end
                </th>
            #end
            #if($options.lstTitles)
                #set($lstTitles = $options.lstTitles)
            #else
                #set($lstTitles = $lstConfigs)
            #end
            #foreach($title in $lstTitles)
                #set($index = $velocityCount - 1)
                <th style="width:#if($title.width)$title.width#else$lstConfigs.get($index).width#end;
                    #if($title.chn.trim() == '')display:none#end"
                    class="#if($title.sort && !$tbNoData)sort
							#if($orderBy==$title.eng && $orderBy)
								#if($desc)sort-down#{else}sort-up#end
							#end
						#end 
						#if($velocityCount==1)first#end
						#if($title.noprint || $lstConfigs.get($index).noprint)noprint#end"
                    #if($title.sort)sort="$title.eng"#end>$title.chn</th>
            #end
        </tr>
            #if(!$tbNoData)
                #foreach($item in $data)
                <tr class="#if($velocityCount%2==0)ev#{else}od#end">
                    #if($options.checkbox)

                        <td class="dk" style="border-right:1px solid $cssMap.bdr_dk;border-left:0 none">
                            <div ecui='type:checkbox;name:$options.checkbox;
							value:#if($options.checkboxVal)#evaluate("\$!item.$options.checkboxVal");#else#evaluate(
                                "\$!item.$options.checkbox");#end
							superior:cball_$tbId'></div>

                        </td>
                    #end
                    #foreach($lst in $lstTitles)
                        #set($index = $velocityCount - 1)
                        #set($config = false)
                        #set($config = $lstConfigs.get($index))
                        #if ($config.eval)
                            #set($eval = $config.eval)
                        #elseif ($lst.eval)
                            #set($eval = $lst.eval)
                        #else
                            #set($eval = false)
                            #set($text='-')
                            #set($text = $!item.get($lst.eng))
                            #if($text.getClass().getName() == "java.util.Date")
                                #set($text = $dateUtils.formatDate($text, $dateFormat))
                            #end
                        #end
                        <td class="#if($lst.chn=="操作")dk#end
							#if($velocityCount==1)first#end
							#if($lst.noprint || $lstConfigs.get($index).noprint)noprint#end"
                            style="#if($lst.chn.trim() == '')display:none;#end">
                            #if($eval)#evaluate($eval)#else$!text#end
                        </td>
                    #end

                </tr>
                #end
            #else
            <tr style="height:20px">
                #foreach($lst in $lstTitles)
                    <td style="border:0 none"></td>
                #end
            </tr>
            #end
        </tbody>
    </table>
</div>
    #if ($pager || $options.pager)
    <div class="clear"></div>
        #if($options.pager)
            #pager($options.pager.curPagerNum
                $options.pager.pagerSize
                $options.pager.totalRecNum
                $options.url)
        #else
            #pager($pager.curPagerNum
                $pager.pagerSize
                $pager.totalRecNum
                $options.url)
        #end

    #end
<script type="text/javascript">
    baidu.dom.ready(function () {
        var t = ecui.get("lst_$tbId");
        if (t) {
            for (var i = 0, cCount = t._aCol.length; i < cCount; i++) {
                var col = t.getCol(i);
                if (col.getBase().className.match(/\s*sort\s*/)) {
                    col.onclick = defaultSort;
                }
            }
        }
    });
</script>
#end
#**
 * @desc : 适用于数据确定的下拉列表、单选组、多选组，数据类型为List型
 * @param {String} name 表单项name属性值
 * @param {List} data 填充表单项value和label属性的值
 * @param {String} curVal 当前选中值
 * @param {String} flag 哪个类型的表单项(radio/select/checkbox)
 * @param {String} attrs 表单项其它的属性
 *#
#set($fieldIndex = 0)
#macro (list $name $data $curVal $flag $attrs)
    #if($flag == "select")
    <select #if($name)name="$name"#end #evaluate($attrs)>
        #foreach($item in $data)
            <option value="$!item.value"
                    #if($curVal == $!item.value)selected="selected"#end>$!utils.escapeInH($item.text)</option>
        #end
    </select>
    #elseif($flag == "checkbox")
        #foreach($item in $data)
        <input id="fieldIndex_${fieldIndex}" type="checkbox"
               #if($name)name="$name"#end value="$!item.value" #evaluate($attrs)
               #if($!item.isChecked)checked="checked"#end><label
                for="fieldIndex_${fieldIndex}">$!utils.escapeInH($item.text)</label>
            #set($fieldIndex = $fieldIndex + 1)
        #end
    #elseif($flag == "radio")
        #foreach($item in $data)
        <input id="fieldIndex_${fieldIndex}" type="radio"
               #if($name)name="$name"#end value="$!item.value" #evaluate($attrs)
               #if($!item.value == $curVal)checked="checked"#end><label
                for="fieldIndex_${fieldIndex}">$!utils.escapeInH($item.text)</label>
            #set($fieldIndex = $fieldIndex + 1)
        #end
    #end
#end
#**
 * @desc : 层级下拉框
 * @param {String} fName 下拉框fName属性值
 * @param {List} fData 填充下拉框value和label属性及层级关系的值
 * @param {String} fCurVal 当前选中值
 * @param {String} fAttrs 表单项其它的属性
 *#
#macro (levelSelect $fName $fData $fCurVal $fAttrs)
<select #if($!fName)name="$fName"#end #evaluate($fAttrs)>
    #set($result = {})
    #foreach ($item in $fData)
        #set ($floor = 0)
        #if ($!item.parentId)
            #set($floor = $result.get($!item.parentId) + 1)
        #end

        $!result.put($!item.value, $floor)
        <option value="$!item.value" #if($fCurVal && $fCurVal == $!item.value)selected="selected"#end>
            #if($floor > 0)#evaluate("\#foreach($i in [1..$floor])&nbsp;\#end")#end $!utils.escapeInH($item.text)
        </option>
    #end
</select>
#end
#**
 * @desc : 层级下拉框(数据源无序)
 * @param {String} fName 下拉框fName属性值
 * @param {List} fData 填充下拉框value和label属性及层级关系的值
 * @param {String} fCurVal 当前选中值
 * @param {String} fAttrs 表单项其它的属性
 *#
#macro (levelSelect2 $fName $fData $fCurVal $fAttrs)
<span id="${fName}_span"></span>
<script type="text/javascript">
    function buildOption(item, floor, map) {
        var html = ['<option value="' + item.value + '" name="$!fName" ' + (item.value == '$!fCurVal' ? 'selected' : '') + '>'];
        for (var i = 0; i < floor; i++) {
            html.push('&nbsp;');
        }
        html.push(item.text + '</option>');
        if (map[item.value]) {
            floor++;
            for (var i = 0, child; child = map[item.value][i]; i++) {
                html.push(buildOption(child, floor, map));
            }
        }
        return html.join('');
    }
    baidu.dom.ready(function () {
        var data = [
                    #foreach ($item in $fData)
                        {
                            'value': '$item.value',
                            'text': '$item.text',
                            'parentId': '$!item.parentId'
                        }#if($velocityCount < $fData.size()),#end
                    #end
                ],
                map = {'root': []},
                ele = baidu.dom.g('${fName}_span'),
                html = [];

        for (var i = 0, item; item = data[i]; i++) {
            if (item.parentId) {
                if (!map[item.parentId]) {
                    map[item.parentId] = [];
                }
                map[item.parentId].push(item);
            }
            else {
                map.root.push(item);
            }
        }

        html.push('<select #if($!fName)name="$fName"#end #evaluate($fAttrs)>');
        for (var i = 0, item; item = map.root[i]; i++) {
            html.push(buildOption(item, 0, map));
        }
        html.push('</select>')
        ele.innerHTML = html.join('');
    });
</script>
#end
#**
 * @desc : 统一引入错误提示
 *#
#macro (globalMsg)
    #if($errors && $errors.globalMsg)
    <div class="mess floor">
        <div class="area-w"></div>
        <div class="area-v"></div>
        <div class="area">
            <div class="error-msg">$!errors.globalMsg</div>
        </div>
        <div class="area-v"></div>
        <div class="area-w"></div>
    </div>
    #end
#end
#**
 * @desc : 单日历
 * @param {String} name 表单项name属性值
 * @param {String} value 默认时间
 * @param {list} options 可选项 支持的参数有 range设定可操作范围   ecid设置ecid
 * @demo #singleCal("cal-demo" "2012-01-12")
 *#
#macro (singleCal $name $value $options)
<input name="$name" ecui="type:calendar-edit;
			calendartype:single;
			capture:false;
			#if ($!option.range) range:$!option.range #end;
			#if ($!option.ecId) id:$!option.ecId; #end;"
       readonly="readonly"
       value="$!value"
        />
#end
#**
 * @desc : 双日历
 * @param {String} name 表单项name属性值
 * @param {String} value 默认时间
 * @param {list} options 可选项 支持的参数有 range设定可操作范围   ecid设置ecid
 * @demo #rangeCal("2012-01-11" "2012-02-23")
 *#
#macro (rangeCal  $bVal $eVal $options)
<input ecui="type:calendar-edit;
			calendartype:range;
			capture:false;
			#if($!options.ecId) id:$!options.ecId; #end 
			#if($!options.bName) beginname:$!options.bName;#end
			#if($!options.eName) endname:$!options.eName;#end
			#if($!options.range) range:$!options.range;#end
			#if($!options.loose) loose:$!options.loose;#end"
    #if (!$options.editable) readonly="readonly" #end
    #if ($!bVal&&$!eVal&&$!bVal != ""&&$!eVal != "") value="$!bVal 至 $!eVal"
    #elseif ($!bVal != ""&&$!eVal == "") value="$!bVal 之后"
    #elseif ($!eVal != ""&&$!bVal == "") value="$!eVal 之前"
    #end
        />
#end
#**
 * @desc : 浮动层开头部分代码
 * @param {String} ecId ecui控件Id，在ecFloater.show(ecId)调用使用
 * @param {String} title 浮动层标题名称
 * @param {Number} width 浮动层的宽度值
 * @param {Number} height 浮动层的高度值
 * @demo
 * #startFloater("floater1" "标题" 500 300)
 * 浮动层里面的HTML代码
 * #endFloater
 *#
#macro (startFloater $ecId $title $width $height)
<div ecui="
        type:form;
        id:$!ecId;
        title-auto:width;
        h-scroll:false;
        hide:true;
        " class="floater" style="width:$!{width}px;height:$!{height}px;position:absolute;visibility:hidden">
    <label>$!utils.escapeInH($title)</label>
<div class="floater-content">
<div class="floater-inner">
#end
#macro (endFloater)
</div><!--floater-inner-->
</div>
</div>
#end
#**
 * @desc : 初始本地存储模块
 * @param {String} ecId 可选，默认为localStorage。ecui控件Id，用户获取ecui本地存储控件。
 * @demo #storageInit() 或 #storageInit("myLocalStorage")
 *#
#macro (storageInit $ecId)
    #if(!$ecId)
        #set($ecId = "localStorage")
    #end
<div ecui="type:Storage;swf:${staticRoot}/flash/Storage.swf;id:$!{ecId}" style="width:1px;height:1px;"></div>
#end
#**
 * @desc : 提交查询表单时本地保存内容
 * @param {String} ecId 可选，默认为localStorage。ecui控件Id，用户获取ecui本地存储控件。
 * @demo #storageSave() 或 #storageSave("myLocalStorage")
 *#
#macro (storageSave $ecId)
    #if(!$ecId)
        #set($ecId = "localStorage")
    #end
this.localDataId.value = ecui.get('$!ecId').save(this);
#end
#**
 * @desc : navBar 方案制作导航条
 *#
#macro (navBar $curTab $curCTab)
    #set($commURL = "$common.stepController?type=current&schemeId=$!schemeId&currentStep=")
<div class="navbar">
    #foreach ($item in $naviBar.menu)
        #set($curFlag = false)
        #set($lastFlag = false)
        #set($hasChild = false)
        #if ($curTab == $item.id)
            #set($curFlag = true)
        #end
        #if ($velocityCount >= $naviBar.menu.size())
            #set($lastFlag = true)
        #end
        #if ($item.children && $item.children.size() > 0)
            #set($hasChild = true)
        #end

        <div class="item #if ($curFlag)current #end">#if ($hasChild)
        <div class="parent">#end
            <div class="prev"></div>
            <div class="#if (!$lastFlag || $hasChild) next #else last #end"></div>
            <a #if (!$curFlag && $item.stepId && $item.stepId != '') href="${commURL}$!utils.escapeInH($item.stepId)"
                                                                     onclick="return ((chkNavLink) ? chkNavLink(this) : true);" #end>$!utils.escapeInH($item.name)</a>#if ($hasChild)
            </div>#end</div>
        #if ($hasChild)
            <div class="item nop #if ($curFlag)current #end">
                <div class="child">
                    <div class="prev"></div>
                    <div class="#if ($lastFlag) last #else next #end"></div>
                    #foreach ($child in $item.children)
                        <a #if ($curCTab == $child.id)  class="cur" #elseif ($child.stepId && $child.stepId != '')
                                                        href="${commURL}$!utils.escapeInH($child.stepId)"
                                                        onclick="return ((chkNavLink) ? chkNavLink(this) : true);"#end>$!utils.escapeInH($child.name)</a>
                    #end
                </div>
            </div>
        #end
    #end
</div>
<iframe class="navmask" frameborder="0"></iframe>
<div class="navbarblock"></div>
#end


#macro(breadcrumb $styles)
<ol class="breadcrumb" style="$styles">
    <li><a href="$teamUrl.teams">全部团队</a></li>
    #if($team)<li><a href="$productlineUrl.productline?id=$team.id">$utils.escapeInH($team.name)</a></li>#end
    #if($productline)<li><a href="$groupUrl.group?plid=$productline.id">$!utils.escapeInH($productline.name)</a></li>#end
    #if($group)<li class="active">$!utils.escapeInH($group.name)</li>#end
</ol>
#end

#**
 * @desc : includeNewRapStatic 新版统一引入静态资源
 *#
#macro (includeNewRapStatic)
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">
<link rel="stylesheet" href="${staticRoot}/bootstrap/css/bootstrap.min.css?_r=$!timeStamp">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="${staticRoot}/css/rap.template.css?_r=$!timeStamp" type="text/css" media="screen">
<link rel="stylesheet" href="${staticRoot}/js/ui/floater/css/floater.css?_r=$!timeStamp" type="text/css">
<script type="text/javascript" src="${staticRoot}/js/core/jquery-2.1.4.min.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/core/tangram-1.2.1.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/core/tangram-fix.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/base.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/routes.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/bootstrap/js/bootstrap.min.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/core/ecui-1.1.0-br.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/ui/floater/js/floater.js?_r=$!timeStamp"></script>
<script type="text/javascript" src="${staticRoot}/js/core/rap.js?_r=$!timeStamp"></script>
#end