<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/tcom/template.rap.vm')
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Project Manage        </title>
		#includeRapStatic
		<link rel="stylesheet" href="${staticRoot}/js/ui/wick/css/wick.css" type="text/css">
		<style type="text/css">

			.wickFloater {
				left:537px;
				top:65px;
			}
		
		</style>
	</head>
	<body>
	    #bodyStart
		<a href="#" onclick="createProject();return false;" class="btn btn-primary">创建新项目</a><br />
		<br />


		#set( $lstTitleList = [
			{"chn":"名称", "eval":'<a href="$workspaceUrl.myWorkspace?projectId=$item.id">$item.name</a>', "width":"300px"},
			{"chn":"创建日期", "eval":'<center>$item.createDateStr</center>', "width":"80px"},
			{"chn":"创建人", "eval":'<center>$item.user.name</center>', "width":"120px"},
			{"chn":"参与人", "eval":'$item.userListStrShort', "width":"310px"},
			{"chn":"操作", "eval":'<center><div class="operation-column">
									#if($item.isManagable) 
										<nobr><a href="#" onclick="editProject($item.id);return false;">编辑</a></nobr>
								   <nobr><a href="$projectUrl.removeProject?id=$item.id" onclick="return confirm(${sQuote}是否删除？(测试数据很宝贵，请确定是自己添加条目再删除，非常感谢您的合作！)${sQuote});">删除</a></nobr>
									#end
							   </div></center>', "width":"80px"}
		] )

		#set( $fOptions = {"width":"940px", "url":"$projectUrl.myProjectList"} )

		#table($lstTitleList $projectList $fOptions)
		<br />
		<br />
		<br />
		#bodyEnd

		#startFloater("floater" "" 600 350)
		<form id="floaterForm" method="post" action="$projectUrl.addOrUpdateProject" onsubmit="return floaterFormOnSubmit(this);">
			<input type="hidden" name="id" id="floaterId" />
			<table>
				<tr>
					<td>项目名称</td>
					<td>
						<input type="text" id="floaterName" minLen="1" message="项目名称不能为空" name="name" maxlength="50" style="width: 250px;" />
					</td>
				</tr>
				<tr>
					<td>项目成员</td>
					<td>
						<textarea type="text" id="floaterMemberListStr" class="wickEnabled" name="memberAccountListStr" maxlength="200" style="width: 450px;height: 70px; font-size: 12px;"></textarea> 
					</td>
				</tr>
				<tr>
					<td>项目介绍</td>
					<td>
						<textarea id="floaterIntroduction" name="introduction" minLen="5" message="请填写适当描述(长度不小于5)" style="width: 450px; height: 150px; font-size: 12px; line-height: 1.5;" cols="20" rows="20" ></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" id="btnSubmit" value="保存" class="button"/>
						<input type="button" id="btnCancel" value="取消" onclick="btnCancelOnClick();" class="button"/>
					</td>
				</tr>
		</form>
		#endFloater
	</body>
	<script language="javascript">
		function btnCancelOnClick() {
			ecui.get('floater').hide();
		}

		function createProject() {
			clearFloater();
			ecFloater.show('floater');
			ecui.get('floater').setTitle('添加新项目');
		}

		function editProject(id) {
			clearFloater();
			baidu.g('floaterName').value = "加载中...";
			baidu.g('floaterIntroduction').value = "加载中...";
			baidu.g('floaterMemberListStr').value = "加载中...";
			baidu.g('floaterName').disabled = true;
			baidu.g('floaterIntroduction').disabled = true;
			baidu.g('floaterMemberListStr').disabled = true;
			ecFloater.show('floater');
			ecui.get('floater').setTitle('修改项目');
			baidu.ajax.get("$projectUrl.projectDetailAjax?id=" + id, function(xhr, response) {
				var data = eval('(' + response + ')');
				baidu.g('floaterId').value = id;
				baidu.g('floaterName').value = data.name;
				baidu.g('floaterMemberListStr').value = data.memberAccountListStr;
				baidu.g('floaterIntroduction').value = data.introduction;
				baidu.g('floaterName').disabled = false;
				baidu.g('floaterIntroduction').disabled = false;
				baidu.g('floaterMemberListStr').disabled = false;
			});
		}

		function clearFloater() {
			var floaterId = baidu.g("floaterId"),
				floaterName = baidu.g("floaterName"),
				floaterIntroduction = baidu.g("floaterIntroduction"),
				floaterMemberListStr = baidu.g("floaterMemberListStr");

			floaterId.value = 0;
			floaterName.value = '';
			floaterIntroduction.value = '';	
			floaterMemberListStr.value = '';
			floaterName.onfocus && floaterName.onfocus();
			floaterIntroduction.onfocus && floaterIntroduction.onfocus();
		}

		function floaterFormOnSubmit(form) {
			return rap.util.validator.validForm(form);
		}

		var collection = [#foreach($item in $memberAccountList)#if($velocityCount>1), #end"$item"#end];
	</script>
	<script type="text/javascript" src="${staticRoot}/js/ui/wick/js/wick.js"></script>
</html>
