---
layout: post
title: Demos
---

<ul>
{% for category in site.categories %}{% if category[0] == 'demos' %}
{% for post in category[1] reversed %}
  <li><a href="{{ site.baseurl }}{{ post.url }}" target="_blank">{{ post.title }}</a></li>
{% endfor %}
{% endif %}{% endfor %}
  <li><a href="{{ site.baseurl }}/demos/res/plugin-demo.html" target="_blank">RAP 插件的使用 - 单独页面版</a></li>
  <li><a href="{{ site.baseurl }}/demos/res/list.html" target="_blank">RAP 插件的使用 - Hello RAP</a></li>
</ul>

<ul>
  <li><a href="http://rap.alibaba-inc.com/workspace/myWorkspace.action?projectId=79&mock=true&actionId=828" target="_blank">RAP中Mockjs标签的编写方式示例大全</a> （参考：<a href="http://mockjs.com" target="_blank">Mockjs官网</a>）</li>
</ul>

<ul>
  <li><a href="http://rap.alibaba-inc.com/workspace/myWorkspace.action?projectId=79&mock=true&actionId=898" target="_blank">简单的RAP接口配置 - 不使用Mockjs标签</a></li>
  <li><a href="http://rap.alibaba-inc.com/workspace/myWorkspace.action?projectId=79&mock=true&actionId=899" target="_blank">简单的RAP接口配置 - 使用Mockjs标签</a></li>
  <li><a href="http://rap.alibaba-inc.com/workspace/myWorkspace.action?projectId=79&mock=true&actionId=841" target="_blank">RESTful风格的接口配置 - DELETE</a></li>
  <li><a href="http://rap.alibaba-inc.com/workspace/myWorkspace.action?projectId=79&mock=true&actionId=841" target="_blank">RESTful风格的接口配置 - UPDATE</a></li>
</ul>


<ul>
  <li><a href="{{ site.baseurl }}/demos/res/whitelist.html" target="_blank">自定义插件模式 - 白名单模式（默认）</a></li>
  <li><a href="{{ site.baseurl }}/demos/res/blacklist.html" target="_blank">自定义插件模式 - 黑名单模式</a></li>
  <li><a href="{{ site.baseurl }}/demos/res/all.html" target="_blank">自定义插件模式 - 拦截全部请求</a></li>
  <li><a href="{{ site.baseurl }}/demos/res/allnot.html" target="_blank">自定义插件模式 - 不拦截任何请求</a></li>
</ul>