<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>*Mgr</value>
                <value>*Service</value>
                <value>*Proxy</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>

    <import resource="classpath:/com/taobao/rigel/rap/common/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/project/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/workspace/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/account/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/mock/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/organization/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/api/applicationContext.xml"/>
    <import resource="classpath:/com/taobao/rigel/rap/platform/applicationContext.xml"/>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass">
            <value>${jdbc.driverClassName}</value>
        </property>
        <property name="jdbcUrl">
            <value>${jdbc.url}</value>
        </property>
        <property name="user">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
        <property name="minPoolSize">
            <value>5</value>
        </property>
        <property name="maxPoolSize">
            <value>30</value>
        </property>
        <property name="initialPoolSize">
            <value>10</value>
        </property>
        <property name="idleConnectionTestPeriod">
            <value>60</value>
        </property>
        <property name="maxIdleTime">
            <value>60</value>
        </property>
        <property name="acquireIncrement">
            <value>5</value>
        </property>
        <property name="maxStatements">
            <value>0</value>
        </property>
        <property name="checkoutTimeout">
            <value>1000</value>
        </property>
        <property name="acquireRetryAttempts">
            <value>30</value>
        </property>
        <property name="breakAfterAcquireFailure">
            <value>true</value>
        </property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>com/taobao/rigel/rap/project/mapping/Project.hbm.xml</value>
                <value>com/taobao/rigel/rap/project/mapping/Module.hbm.xml</value>
                <value>com/taobao/rigel/rap/project/mapping/Page.hbm.xml</value>
                <value>com/taobao/rigel/rap/project/mapping/Action.hbm.xml</value>
                <value>com/taobao/rigel/rap/project/mapping/Parameter.hbm.xml</value>
                <value>com/taobao/rigel/rap/account/mapping/User.hbm.xml</value>
                <value>com/taobao/rigel/rap/account/mapping/Role.hbm.xml</value>
                <value>com/taobao/rigel/rap/account/mapping/Notification.hbm.xml</value>
                <value>com/taobao/rigel/rap/workspace/mapping/Workspace.hbm.xml</value>
                <value>com/taobao/rigel/rap/workspace/mapping/CheckIn.hbm.xml</value>
                <value>com/taobao/rigel/rap/organization/mapping/Corporation.hbm.xml</value>
                <value>com/taobao/rigel/rap/organization/mapping/Group.hbm.xml</value>
                <value>com/taobao/rigel/rap/organization/mapping/ProductionLine.hbm.xml</value>
                <value>com/taobao/rigel/rap/mock/mapping/Rule.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
            </props>
        </property>
    </bean>

    <bean id="baseDao" abstract="true">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="transactionInterceptor"
          class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <!--<prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <!--<prop key="is*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <!--<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <!--<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <!--<prop key="can*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <!--<prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>-->
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

</beans>
