<div id="ceiling">
  <div class="bd clearfix">
    <span class="products">
      <a href="/magix"><i class="iconfont mi-magix"></i> Magix</a>
      <a href="/brix-core"><i class="iconfont mi-brix"></i> Brix</a>
      <a href="http://iconfont.cn"><i class="iconfont mi-iconfont"></i> Iconfont</a>
      <a href="http://etaoux-bj.taobao.ali.com/rap/platform/home.action"><i class="iconfont mi-rap"></i> RAP</a>
      <a href="http://mockjs.com"><i class="iconfont mi-mock"></i> Mock</a>
    </span>
    <span class="portal">
      <a href="/" class="logo"><i class="iconfont">&#532;</i> THX</a>
    </span>
  </div>
</div>