<div id="ceiling">
  <div class="bd clearfix">
    <span class="products">
      <a href="/magix">
        <i class="iconfont mi-magix"></i>
        <span class="name">Magix</span>
      </a>
      <a href="/brix-core">
        <i class="iconfont mi-brix"></i>
        <span class="name">Brix</span>
      </a>
      <a href="http://iconfont.cn">
        <i class="iconfont mi-iconfont"></i>
        <span class="name">Iconfont</span>
      </a>
      <a href="http://etaoux-bj.taobao.ali.com/rap/platform/home.action">
        <i class="iconfont mi-rap"></i>
        <span class="name">RAP</span>
      </a>
      <a href="http://mockjs.com">
        <i class="iconfont mi-mock"></i>
        <span class="name">Mock</span>
      </a>
      <a href="/crox">
        <i class="iconfont mi-crox"></i>
        <span class="name">Crox</span>
      </a>
      <a href="/cube">
        <i class="iconfont mi-cube"></i>
        <span class="name">Cube</span>
      </a>
    </span>
    <span class="portal">
      <a href="/" class="logo"><i class="iconfont">&#532;</i>
        <span class="name">THX</span>
      </a>
    </span>
  </div>
</div>