
<div class="settings">
<!-- 文字大小 begin -->
    <label class="type-set-label set-first set-font-small" data-font-size="small" title="较小">
        <span class="bd">
            <span class="set-title">较小</span><span class="set-icon set-font-small">A</span>
        </span>
    </label>
    <label class="type-set-label" data-font-size="middle" title="默认">
        <span class="bd">
            <span class="set-title">默认</span><span class="set-icon set-font-middle">A</span>
        </span>
    </label>
    <label class="type-set-label" data-font-size="large" title="较大">
        <span class="bd">
            <span class="set-title">较大</span><span class="set-icon set-font-large">A</span>
        </span>
    </label>
<!-- 文字大小 end -->

<!-- 昼夜模式 begin -->
    <label class="type-set-label set-last set-night" data-class="night" title="夜晚模式">
        <span class="bd">
            <span class="set-title">夜晚模式</span><i class="set-icon iconfont">&#452;</i>
        </span>
    </label>
<!-- 昼夜模式 end -->
</div>