<div id="ceiling">
  <div class="bd justify">
    <div class="products dib">
      <a href="/">
        <i class="iconfont mi-home">&#336;</i>
      </a>
      <a href="/magix">
        <i class="iconlogo mi-magix"></i>
        <span class="name">Magix</span>
      </a>
      <a href="/brix-core">
        <i class="iconlogo mi-brix"></i>
        <span class="name">Brix</span>
      </a>
      <a href="/crox">
        <i class="iconlogo mi-crox"></i>
        <span class="name">Crox</span>
      </a>
      <a href="/RAP">
        <i class="iconlogo mi-rap"></i>
        <span class="name">RAP</span>
      </a>
      <a href="http://mockjs.com">
        <i class="iconlogo mi-mock"></i>
        <span class="name">Mock</span>
      </a>
      <a href="https://github.com/nuysoft/bisheng">
        <i class="iconlogo mi-bisheng"></i>
        <span class="name">Bisheng</span>
      </a>
      <a href="/cube">
        <i class="iconlogo mi-cube"></i>
        <span class="name">Cube</span>
      </a>
      <a href="http://canvax.org">
        <i class="iconlogo mi-canvax"></i>
        <span class="name">Canvax</span>
      </a>
    </div>
    <div class="portal dib">
      <a href="javascript:;" id="J_settingsToggler" title="设置"><i class="iconfont">&#355;</i></a>
    </div>
  </div>
</div>
