<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>loading... </title>
    <link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">
    #includeNewRapStatic
    <link type="text/css" rel="stylesheet" href="${staticRoot}/css/defcontrol.css"/>
    <link type="text/css" rel="stylesheet" href="myWorkspace.css?_r=$!timeStamp"/>
    <script src="${staticRoot}/js/util/jsformat.js"></script>
    <script src="${staticRoot}/js/util/mock-min.js"></script>
</head>
<body class="workspace #if(!$accessable)read-only#end">
#bodyNewStart

#breadcrumb("position:relative;top:60px;background-color:#FFF;")
<div id="div-fixed-panel">
    <div class="clearfix">
        <div id="div-w-message" class="label" style="display:none;">
        </div>
        <div id="div-control-panel" style="display:none;">
            <div id="div-workspace-search">
                <input type="text" id="inputSearch" class="form-control" placeholder="工作区搜索">
                </input>
                <span class="glyphicon glyphicon-search"></span>

                <div class="dropdown clearfix" id="dropdown-workspace-search" style="display:none;">
                    <ul class="dropdown-menu" style="display:block" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation" class="dropdown-header">Dropdown header</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Dropdown header</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <button id="btnFastSave" type="button" class="btn btn-warning btn-sm" data-toggle="tooltip"
                    data-placement="bottom" onclick="ws.quickSave(); return false;" style="display: none"
                    title="一键保存，方便快捷">
                <span class="glyphicon glyphicon-flash"></span>
                秒存
            </button>
            <button id="btnSave" type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                    data-placement="bottom" onclick="ws.switchToViewMode(true); return false;" style="display: none"
                    title="填写一些备注后保存">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                慢存
            </button>
            <button id="btnCancel" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                    data-placement="bottom" onclick="ws.switchToViewMode(false); return false;" style="display: none"
                    title="取消编辑，放弃所有未保存的修改">
                <span class="glyphicon glyphicon-trash"></span>
                取消
            </button>
            #if($accessable)
                <button id="btnEdit" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                        data-placement="bottom" onclick="ws.switchToEditMode(); return false;" title="锁定并进入文档编辑状态">
                    <span class="glyphicon glyphicon-pencil"></span>
                    编辑
                </button>

                <button id="btnVersion" type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                        data-placement="bottom" onclick="ws.version(); return false;" title="查看或切换到历史版本">
                    <span class="glyphicon glyphicon-refresh"></span>
                    版本
                </button>
            #end
            <button id="btnExitVersion" type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                    data-placement="bottom" onclick="ws.exitVersion(); return false;" style="display: none;"
                    title="退出版本查看">
                <span class="glyphicon glyphicon-arrow-left"></span>
                返回
            </button>

            <button id="btnToggleMockDisplay" type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                    data-placement="bottom" onclick="ws.toggleMockDisplay();" title="显示/隐藏文档中的MockJS信息">
                <span class="glyphicon glyphicon-headphones"></span>
                Mock
            </button>
            #if($accessable)
                <button id="btnExport" type="button" class="btn btn-default btn-sm" data-toggle="tooltip"
                        data-placement="bottom" onclick="ws.showPluginCode(); return false;" title="配置项目路由，获取插件代码等...">
                    <span class="glyphicon glyphicon-wrench"></span>
                    配置
                </button>
            #end
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-th-large"></span>
                    更多功能 <span style="color:#CC0000;">new</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" onclick="window.open('$!workspaceUrl.export?projectId=$!projectId');return false;">
                            <span class="glyphicon glyphicon-file"></span>&nbsp;导出Word
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="http://thx.github.io/RAP/resources/rap-shortcuts/"  target="_blank">
                            <span class="glyphicon glyphicon-flash"></span>
                            快捷键
                        </a>
                    </li>
                    -->
                    <li>
                        <a href="https://github.com/thx/RAP/wiki/user_manual_cn" target="_blank">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            帮助/教程
                        </a>
                    </li>
                    <li>
                        <a target="_blank"
                           href="http://www.taobao.com/webww/ww.php?ver=3&touid=%E9%9C%8D%E9%9B%8D&siteid=cntaobao&status=2&charset=utf-8"><img
                                border="0"
                                src="http://amos.alicdn.com/realonline.aw?v=2&uid=%E9%9C%8D%E9%9B%8D&site=cntaobao&s=2&charset=utf-8"
                                alt="RAP支持"/>在线客服</a>
                    </li>
                    <li>
                        <a href="$openAPI.queryRAPModel?projectId=$projectId" target="_blank" title="用于备份(导出),将JSON数据另存为,在导入时粘贴即可还原此时的文档.">
                            <span class="glyphicon glyphicon-floppy-save"></span>&nbsp;导出备份
                        </a>
                    </li>
                    <li>
                        <a href="#" onclick="if (!ws.isEditMode()) {ws.switchToEditMode();}ecFloater.show('recoverWorkspaceFloater'); return false;" title="将导出的备份文本粘贴,即可当做一次提交并还原到备份时的状态.">
                            <span class="glyphicon glyphicon-floppy-open"></span>&nbsp;导入备份
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    <div id="div-debug"></div>
    <div id="div-add-p-mt-list-container" style="display:none">
        <div id="div-add-p" style="display: none"><a href="#" class="btn btn-info btn-xs"
                                                     onclick="ws.addP(); return false;"><i
                class="glyphicon glyphicon-plus" style="margin-right: 5px"></i>添加页面</a></div>
        <div id="div-mt-list" class="clearfix"></div>
    </div>

</div>
<div id="div-w">
    <div id="div-m-list">
        <div class="alert alert-warning" style="margin:300px;">
            <span class="glyphicon glyphicon-time"></span>
        Loading workspace... Please wait...
        </div>
    </div>
    <div id="div-w-status"></div>
</div>
#bodyEnd


#startFloater("saveVSSFloater" "" 500 380)
    <form name="formSaveVSSFloater">
        <div id="div-saveVSS-floater-message" style="display:none;" class="label">
        </div>
        <div id="div-saveVSS-floater-content">
            <table class="table">
                <tr>
                    <td class="title">推进版本</td>
                    <td class="radio-list clearfix">
                        <input type="radio" id="radioVersion1" name="radioVersion" value="1"
                               onchange="ws.radioVersionChanged(1);"/>
                        <label for="radioVersion1">1</label>
                        <input type="radio" id="radioVersion2" name="radioVersion" value="2"
                               onchange="ws.radioVersionChanged(2);"/>
                        <label for="radioVersion2">2</label>
                        <input type="radio" id="radioVersion3" name="radioVersion" value="3"
                               onchange="ws.radioVersionChanged(3);"/>
                        <label for="radioVersion3">3</label>
                        <input type="radio" id="radioVersion4" name="radioVersion" value="4"
                               onchange="ws.radioVersionChanged(4);"/>
                        <label for="radioVersion4">4</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">变化预览:</td>
                    <td>
                        <div id="divVersion"></div>
                    </td>
                </tr>
                <tr>
                    <td class="title">提交描述:</td>
                    <td><textarea id="txtDescription" minLen="5" message="为了方便您以后查阅，提交描述为必填项，长度请勿小于5."
                                  style="width:320px; height: 150px"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="ws.doSaveVSS(); return false;">
                            <span class="glyphicon glyphicon-ok"></span>
                            提交
                        </button>
                        <button type="button" class="btn btn-default" onclick="ws.cancelSaveVSS(); return false;">
                            <span class="glyphicon glyphicon-remove"></span>
                            取消
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
#endFloater

#startFloater("versionFloater" "" 600 400)
<div class="myfloater">
    <div id="div-version-floater-message" class="label" style="display:none;"></div>
    <div id="div-version-floater-content"></div>
    <div class="div-floater-control">
        <button id="btnObserveVersion" type="button" class="btn btn-primary" onclick="ws.readProjectOfVersion();" title="点击后将以只读的方式查看某一版本。"><span class="glyphicon glyphicon-eye-open"></span>查看版本</button>
        &nbsp;&nbsp;&nbsp;
        <button id="btnSwitchVersion" type="button" class="btn btn-danger" onclick="ws.switchVersion();" title="点击后将切换至该版本。"><span class="glyphicon glyphicon-repeat"></span>切换版本</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default" onclick="ws.closeVersionPanel();"><span class="glyphicon glyphicon-remove"></span>取消</button>
    </div>
</div>
#endFloater

    #startFloater("editAFloater" "编辑接口" 600 300)
<form name="formEditAFloater">
    <div id="floaterEditAFloater" class="myfloater">
        <input type="hidden" id="editAFloater-id"/>
        <input type="hidden" id="editAFloater-pageId"/>
        <table>
            <tr>
                <td class="title">名称</td>
                <td class="input">
                    <input type="text" id="editAFloater-name" minLen="1" message="请求名称不能为空" maxlength="50"/>
                </td>
            </tr>
            <tr>
                <td class="title">请求类型</td>
                <td class="radio-list clearfix">
                    <input type="radio" id="editAFloater-type-1" name="editAFloater-type" value="1"/>
                    <label for="editAFloater-type-1">GET</label>
                    <input type="radio" id="editAFloater-type-2" name="editAFloater-type" value="2"/>
                    <label for="editAFloater-type-2">POST</label>
                    <input type="radio" id="editAFloater-type-3" name="editAFloater-type" value="3"/>
                    <label for="editAFloater-type-3">PUT</label>
                    <input type="radio" id="editAFloater-type-4" name="editAFloater-type" value="4"/>
                    <label for="editAFloater-type-4">DELETE</label>
                </td>
            </tr>
            <tr>
                <td class="title">请求链接</td>
                <td class="input">
                    <input type="text" id="editAFloater-requestUrl"/>
                </td>
            </tr>
            <tr style="display:none;">
                <td class="title">回跳模板</td>
                <td class="input">
                    <input type="text" id="editAFloater-responseTemplate"/>
                </td>
            </tr>
            <tr>
                <td class="title">说明</td>
                <td>
                    <textarea id="editAFloater-description"
                              style="width: 450px; height: 150px; font-size: 12px; line-height: 1.5;" cols="20"
                              rows="20"></textarea>
                </td>
            </tr>
            <tr>
                <td class="title">返回格式</td>
                <td class="radio-list clearfix">
                    <input type="radio" id="editAFloater-struct-2" name="editAFloater-struct" value="object"/>
                    <label for="editAFloater-struct-2">对象{}</label>
                    <input type="radio" id="editAFloater-struct-1" name="editAFloater-struct" value="array"/>
                    <label for="editAFloater-struct-1">数组[{}, {}]</label>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
        <div class="div-floater-control">
            <button type="button" class="btn btn-primary" onclick="ws.doAddOrEditA();">
                <span class="glyphicon glyphicon-ok"></span>
                确定
            </button>
            <button type="button" class="btn btn-default" onclick="ws.cancelEditA();">
                <span class="glyphicon glyphicon-remove"></span>
                取消
            </button>
        </div>
    </div>
</form>
#endFloater

#startFloater("editPFloater" "编辑页面" 600 400)
<form name="formEditPFloater">
    <div class="myfloater">
        <input type="hidden" id="editPFloater-id"/>
        <input type="hidden" id="editPFloater-moduleId"/>
        <table class="table">
            <tr>
                <td>名称</td>
                <td>
                    <input type="text" id="editPFloater-name" minLen="1" message="页面名称不能为空" maxlength="50"
                           style="width: 250px;"/>
                </td>
            </tr>
            <tr>
                <td>说明</td>
                <td>
                    <textarea id="editPFloater-introduction"
                              style="width: 450px; height: 200px; font-size: 12px; line-height: 1.5;" cols="20"
                              rows="20"></textarea>
                </td>
            </tr>

        </table>
        <div class="div-floater-control">
            <button type="button" class="btn btn-primary" onclick="ws.doAddOrEditP();">
                <span class="glyphicon glyphicon-ok"></span>提交
            </button>
            <button type="button" class="btn btn-default" onclick="ws.cancelEditP();">
                <span class="glyphicon glyphicon-remove"></span>取消
            </button>
        </div>
    </div>
</form>
#endFloater

#startFloater("importJSONFloater" "JSON导入" 600 350)
<form name="formImportJSONFloater">
    <div id="div-importJSON-floater-message" style="display:none;" class="label"></div>
    <div class="myfloater">
        <table class="table">
            <tr>
                <td>
                    <textarea placeholder="请输入JSON" id="importJSONFloater-text"
                              style="width: 510px; height: 200px; font-size: 12px; line-height: 1.5;" cols="20"
                              rows="20"></textarea>
                </td>
            </tr>
        </table>
        <div class="div-floater-control">
            <button type="button" class="btn btn-primary" onclick="ws.doImportJSON();">
                <span class="glyphicon glyphicon-ok"></span>
                导入
            </button>
            <button type="button" class="btn btn-default" onclick="ws.cancelImportJSON();">
                <span class="glyphicon glyphicon-remove"></span>
                取消
            </button>
        </div>
    </div>
</form>
#endFloater

#startFloater("recoverWorkspaceFloater" "导入备份数据" 600 350)
<form name="formRecoverWorkspace">
    <div id="div-recoverWorkspace-floater-message" style="display:none;" class="label"></div>
    <div class="myfloater">
        <table class="table">
            <tr>
                <td>
                    <textarea placeholder="请输入备份JSON" id="recoverWorkspaceFloater-text"
                              style="width: 510px; height: 200px; font-size: 12px; line-height: 1.5;" cols="20"
                              rows="20"></textarea>
                </td>
            </tr>
        </table>
        <div class="div-floater-control">
            <button type="button" class="btn btn-primary" onclick="ws.doRecoverWorkspace();">
                <span class="glyphicon glyphicon-ok"></span>
                导入
            </button>
            <button type="button" class="btn btn-default" onclick="ecui.get('recoverWorkspaceFloater').hide();">
                <span class="glyphicon glyphicon-remove"></span>
                取消
            </button>
        </div>
    </div>
</form>
#endFloater

#startFloater("exportRAPDataFloater" "JSON导入" 600 350)
<form name="formImportJSONFloater">
    <div class="myfloater">
        <table class="table">
            <tr>
                <td>
                    <textarea id="exportRAPDataFloater-text"
                              style="width: 510px; height: 200px; font-size: 12px; line-height: 1.5;" cols="20"
                              rows="20"></textarea>
                </td>
            </tr>
        </table>
        <div class="div-floater-control">
            <input type="button" class="btn btn-default" onclick="ws.closeExportRAPDataFloater();" value="关闭"/>
        </div>
    </div>
</form>
#endFloater

#startFloater("pluginCodeFloater" "FE工具箱" 600 230)
<form name="formPluginCodeFloater">
    <div class="myfloater">
        <div>插件代码</div>
        <div>
            <input disabled="disabled" id="pluginCodeInput" style="width:550px;margin:8px 0;" type="text"
                   value="&lt;script src=&quot;http://$!consts.DOMAIN_URL/rap.plugin.js?projectId=$!projectId&quot;&gt;&lt;/script&gt;">
        </div>
        <div>项目路由</div>
        <div>
            <input id="divRelatedIds" style="width:550px;margin:8px 0;" type="text" placeholder="例:24,32,56  项目ID逗号隔开">
        </div>
        <div class="div-floater-control">
            <input type="button" class="btn btn-default" onclick="ws.closePluginCodeFloater(1);" value="保存"/>
            <input type="button" class="btn btn-default" onclick="ws.closePluginCodeFloater();" value="取消"/>
        </div>
    </div>
    <div>

    </div>
</form>
#endFloater

#startFloater("actionUrlFloater" "请求链接" 600 180)
<form name="formActionUrlFloater">
    <div class="myfloater">
        <div>
            <input disabled="disabled" id="actionUrlFloater-input" style="width:550px;margin:8px 0;" type="text"
                   value="">
        </div>
        <div class="div-floater-control">
            <input type="button" class="btn btn-default" onclick="ws.closeActionUrlFloater();" value="关闭"/>
        </div>
    </div>
</form>
#endFloater

#startFloater("mockDataPreviewFloater" "Mock数据预览" 600 600)
<div class="myfloater">
    <div>
        <h5>Mock API</h5>
        <ul>
            <li>Mock规则：<a href="#" target="_blank" id="mockRulePreviewFloater-mockRule"></a></li>
            <li>Mock数据：<a href="#" target="_blank" id="mockRulePreviewFloater-mockData"></a></li>
        </ul>
        <h5>Mock规则
            <button style="margin-left:5px;" class="btn btn-default btn-xs"
                    onclick="ws.copyToClipboard('mockRulePreviewFloater-container'); return false;">
                <i class="glyphicon glyphicon-copy"></i>复制
            </button>
        </h5>
        <textarea style="width:100%;height:150px;overflow-y:auto;" id="mockRulePreviewFloater-container"></textarea>
    </div>
    <div>
        <h5>Mock数据
            <button style="margin-left:5px;" class="btn btn-default btn-xs"
                    onclick="ws.copyToClipboard('mockDataPreviewFloater-container'); return false;">
                <i class="glyphicon glyphicon-copy"></i>复制
            </button>
            <button style="margin-left:5px;" class="btn btn-default btn-xs"
                    onclick="ws.refreshMockPreviewData(); return false;">
                <i class="glyphicon glyphicon-refresh"></i>刷新
            </button>
            <i class="glyphicon glyphicon-question-sign" style="color:#000000;margin-left:3px;" data-toggle="tooltip"
               data-placement="bottom"
               title="如果您的MOCK规则可能产生变动的数据,例如数组变量名为arr|1-10,表示随机生成1~10组数据,您可通过该按钮刷新随机的数据.我有木有很贴心?有木有~~有木有~~"></i>
        </h5>
        <textarea style="width:100%;height:150px;overflow-y:auto;" id="mockDataPreviewFloater-container"></textarea>
    </div>
    <div class="div-floater-control">
        <input type="button" class="btn btn-default" onclick="ecui.get('mockDataPreviewFloater').hide();" value="关闭"/>
    </div>
</div>
#endFloater

#startFloater("actionOpFloater" "文档操作" 600 230)
<div class="myfloater">
    <form role="form">
        <div class="form-group">
            <label>您将对接口:&nbsp;<span id="actionOpFloater-title"></span>&nbsp;做何操作？</label>

            <div>
                <label class="radio-inline">
                    <input type="radio" id="actionOpFloater-op-move" name="actionOpFloater-op" value="move"
                           checked="checked"/> 移动
                </label>
                <label class="radio-inline">
                    <input type="radio" id="actionOpFloater-op-copy" name="actionOpFloater-op" value="copy"/> 复制
                </label>
                <!--
                <label class="radio-inline">
                    <input type="radio" id="actionOpFloater-op-mount" name="actionOpFloater-op"  value="mount" /> 挂载
                </label>
                -->
            </div>
        </div>
        <div class="form-group">
            <label>选择目标位置</label>
            <ul class="list-inline">
                <li>
                    <select id="actionOpFloater-tab" onchange="ws.actionOpFloaterSelectChanged();"
                            class="form-control"></select>
                </li>
                <li>
                    <select id="actionOpFloater-page" class="form-control"></select>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <input type="button" class="btn btn-success" onclick="ws.closeActionOpFloater(true);" value="确定"/>
            <input type="button" class="btn btn-default" onclick="ws.closeActionOpFloater();" value="取消"/>
        </div>
    </form>
</div>
#endFloater

</body>
<script type="text/javascript">

    var urlObj = {
            "getModuleHtmlAjax": "$workspaceUrl.getModuleHtmlAjax",
            "updateSave": "$workspaceUrl.updateSave",
            "updateCurrentSave": "$workspaceUrl.updateCurrentSave",
            "querySave": "$workspaceUrl.querySave",
            "removeSave": "$workspaceUrl.removeSave",
            "checkIn": "$workspaceUrl.checkIn",
            "checkOut": "$workspaceUrl.checkOut",
            "imageRoot": "$staticRoot/img/",
            "lock": "$workspaceUrl.lock",
            "unlock": "$workspaceUrl.unlock",
            "ping": "$workspaceUrl.ping",
            "queryVersion": "$workspaceUrl.queryVersion",
            "switchVersion": "$workspaceUrl.switchVersion",
            "pageTester": "$testerUrl.pageTester",
            "updateReleatedIds": "$projectUrl.updateReleatedIds",
            "myWorkspace": "$workspaceUrl.myWorkspace",
            "queryMockData": "$mockUrl.queryMockData",
            "base" : "$consts.DOMAIN_URL$!projectContext"
        },
        ws = rap.workspace,
        data,
        util = rap.util;

    jQuery.post('$workspaceUrl.loadWorkspace', 'projectId=$!projectId', function(results) {
        data = eval('(' + results + ')');

        document.title = data.projectData.name + ' 接口文档';
        $("#divRelatedIds").val(data.relatedIds);

        if (data.projectData.moduleList.length === 0) {
            data.projectData.moduleList = [{
                "id": ws.generateId(),
                "name": "某模块（点击编辑后双击修改）",
                "introduction": "",
                "pageList": [{
                    "moduleId": ws.generateId(),
                    "name": "某页面",
                    "introduction": "",
                    "id": ws.generateId(),
                    "isIdGenerated": true,
                    "actionList": [{
                        "pageId": ws.generateId(),
                        "name": "某请求",
                        "requestType": "1",
                        "requestUrl": "",
                        "responseTemplate": "",
                        "description": "",
                        "id": ws.generateId(),
                        "requestParameterList": [{
                            "id": ws.generateId(),
                            "identifier": "reqParam",
                            "name": "某请求参数",
                            "remark": "",
                            "validator": "",
                            "dataType": "number",
                            "parameterList": []
                        }],
                        "responseParameterList": [{
                            "id": ws.generateId(),
                            "identifier": "resParam",
                            "name": "某响应参数",
                            "remark": "",
                            "validator": "",
                            "dataType": "number",
                            "parameterList": []
                        }]
                    }]
                }]
            }];
        }

        ws.init(data, urlObj#if($actionId),$actionId#end, callbackHandler);
        $('#div-control-panel').show();
        $('#div-add-p-mt-list-container').show()

        function callbackHandler() {
            #if($mock == true)
                ws.toggleMockDisplay();
            #else
                var isMockDisplay = window.localStorage ? localStorage.getItem("_isMockDisplay") : null;
                if (location.toString().indexOf("mock=") == -1 && isMockDisplay != 'false') {
                    ws.toggleMockDisplay();
                }
            #end
        }

        $('.btn').tooltip();
    });


</script>
</html>
