<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>欢迎使用RAP </title>
    <link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">
    #includeNewRapStatic
    <link rel="stylesheet" href="./productline/index.css?_r=$!timeStamp" type="text/css" media="screen">
</head>
<body>
#bodyNewStart

<div class="page">
    <div class="productlines content">
        #breadcrumb
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th style="width:60%;">名称</th>
                    <th style="width:20%;">项目总数</th>
                    <th style="width:20%;text-indent:2em;">操作</th>
                </tr>
                </thead>
                <tbody id="pl-items">

                </tbody>
            </table>
        </div>
        <div><span class="btn btn-success create-btn"><i class="glyphicon glyphicon-plus"></i> 创建产品线</span></div>
    </div>
</div>
<script type="text/tmpl" id="table-rows">
{{#items}}
<tr class="pl-item pl-{{id}}" data-id="{{id}}">
    <td><a class="name" href="/org/group.action?plid={{id}}">{{name}}</a></td>
    <td>{{count}}</td>
    <td>
        <span class="btn btn-sm btn-primary update-btn" data-id="{{id}}"><i class="glyphicon glyphicon-edit"></i> 修改</span>
        <span class="btn btn-sm btn-default delete-btn" data-id="{{id}}"><i class="glyphicon glyphicon-trash"></i> 删除</span>
    </td>
</tr>
{{/items}}

</script>

<script type="text/tmpl" id="create-productline">
<div class="form-horizontal" role="form">
  <div class="form-group" style="margin-bottom:0">
    <label for="productline-inputer" class="col-sm-2 control-label">名称 <span style="color:red">&#42;</span></label>
    <div class="col-sm-10">
      <input type="text" id="productline-inputer" class="form-control" style="width:432px;" placeholder="请在此添加产品线名称" value="{{value}}"/>
    </div>
  </div>
</div>

</script>
<script src="./productline/index.js?_r=$!timeStamp"></script>
#bodyEnd
</body>
</html>