body {
	margin: 0;
	padding: 0;
	background: #546E09;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E2E2E;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #8CB70E;
}

input,textarea {border:1px solid #CCC}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #546E09; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	background: url(img/img02.jpg) repeat-y center top;
}

#wrapper-bgtop {
	background: url(img/img01.jpg) no-repeat center top;
}

/* Header */

#header-wrapper {
}

#header {
	width: 980px;
	height: 98px;
	margin: 0 auto;
	background: url(img/img01.jpg) no-repeat left top; 
}

/* Menu */

#menu {
	float: right;
	width: 620px;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
	border-right: 1px solid #AFD147;
}

#menu a {
	display: block;
	float: left;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/* Search */

#search {
	float: right;
	width: 260px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #5AA01B;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 40px 20px 0px 20px;
	background: #FFFFFF;
}


/** LOGO */

#logo {
	float: left;
	width: 260px;
	margin: 0 auto;
	padding-left: 100px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-size: 13px;
	color: #AFD147;
}

#logo h1 {
	padding-top: 10px;
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #AFD147;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}


#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
}

/* Post */

.post {
	margin-bottom: 45px;
	background: url(img/img03.jpg) no-repeat right 10px;
}

.post .title {
	height: 44px;
	padding-left: 15px;
	color: #8CB70E;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #8CB70E;
}

.post .date {
}

.post .meta {
	height: 32px;
	margin-left: 2px;
	padding: 4px 30px 2px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 15px;
}

.post .links {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #546E09;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px dashed #ADADAD;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
	font-weight: normal;
}

#sidebar li li a:hover {
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 980px;
	height: 50px;
	margin: 0 auto 20px auto;
	background: #000000;
}

#footer p {
	margin: 0px;
	padding: 16px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#home {
	width: 450px;
	padding: 20px;
	font-size: 14px;
	position: relative;
}

#home p {
	margin-bottom: 40px;
}

#home #img1 {
	position: absolute;
	background: url(img/thank.gif) no-repeat;
	width: 60px;
	height: 80px;
	left: 559px;
	top: 22px;
}

#home #img2 {
	position: absolute;
	background: url(img/superman.gif) no-repeat;
	width: 70px;
	height: 74px;
	left: 557px;
	top: 179px;
}

#home #img3 {
	position: absolute;
	background: url(img/dance.gif) no-repeat;
	width: 108px;
	height: 54px;
	top: 311px;
	left: 535px;
}

#login {
	width: 300px;
	padding: 100px 0 120px 320px;
}

#login-control {
	font-size: 14px;
}

#app-status {
	font-size: 12px;
	position: relative;
	color: White;
	left: 840px;
	top: -12px;
	width: 120px;
}

#login-control a {
	color: white;
}

#login-control a:hover {
	color: #8CB70E;
}

#myAccount {
	width: 600px;
}

#about {
	width: 600px;
	padding: 20px 20px 150px 20px;
	font-size: 14px;
	line-height: 1.5;
	position: relative;
}


#about-img-1 {
	background:url(img/about_1.jpg) no-repeat;
	width: 340px;
	height: 235px;
	position: absolute;
	left: 618px;
	top: 0;
}

#about-img-2 {
	background:url(img/about_2.jpg) no-repeat;
	width: 340px;
	height: 365px;
	position: absolute;
	left: 618px;
	top: 247px;
}

#about-img-3 {
	background:url(img/about_3.jpg) no-repeat;
	width: 340px;
	height: 262px;
	position: absolute;
	left: 618px;
	top: 1136px;
}

#about-img-4 {
	background:url(img/about_4.jpg) no-repeat;
	width: 340px;
	height: 264px;
	position: absolute;
	left: 618px;
	top: 780px;
}

#about-img-5 {
	background:url(img/about_5.jpg) no-repeat;
	width: 340px;
	height: 264px;
	position: absolute;
	left: 618px;
	top: 1565px;
}

#about-img-6 {
	background:url(img/about_6.jpg) no-repeat;
	width: 340px;
	height: 221px;
	position: absolute;
	left: 618px;
	top: 2128px;
}

#document {
	width: 600px;
	padding: 20px 20px 200px 20px;
}

#register {
	width: 300px;
	padding: 100px 0 120px 320px;
}

.table-container {
	padding: 8px;
	font-size: 14px;
}

.table-container .item {
	margin-top: 8px;
	margin: 8px;
}

.table-container .left {
	width: 100px;
	text-align: right;
	padding: auto;
	height: 30px;
	margin-right: 10px;
	float: left;
}

.table-container .right {
	height: 30px;
	float: left;
}

.table-container .clear {
	clear: both;
}

.table-container .control {
	text-align: right;
	padding-right: 50px;
}

.table-container .title {
	text-align: center;
}

.table-container .error {
	text-align: center;
	color: Red;
}

.es-prev, .es-next {border:0;cursor:pointer;width:101px;height:30px;background:url(img/step.png) no-repeat;font-size:0;}
.es-next {background-position: 0 -30px}
.add-link, .edit-link, .del-link, .test-link {margin-right:5px;background:url(img/op-icon.gif) no-repeat;cursor:pointer;padding-left:18px;text-decoration:none;color:#0100FE;}
.add-link {background-position: 0 -31px}
.edit-link {background-position: 0 -256px;padding-top:1px}
.del-link {background-position: 0 -94px;}
.test-link {background-position: 0 0;}

#error {
	position: relative;
	padding: 0 0 50px 0;
	line-height: 1.5;
}

#error .content {
	margin: 12px;
	width: 500px;
	font-size: 14px;
}

#error .title {
	margin: 24px 12px 12px 12px;
}

#error .detail {
	color: Gray;
	padding: 12px;
}

#error .message {
	color: Red;
}

#error #image-error {
	background: url(img/sad.gif) repeat-y center top;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 550px;
	top: 25px;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

div#tipDiv {
	color:#000; font-size:12px; line-height:1.2;
	position: absolute;
	background-color:#E1E5F1; border:1px solid #667295; 
	width:150px; padding:4px;
	z-index: 999999;
}

.invalid {
	border: solid Red 1px;
	color: Red;
}
