body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.left {float:left;}
.right {float:right;}


#login-btn, #cancel-login-btn, #register-btn, #cancel-register-btn {
	width: 93px;
}
.sso-login {
	background-image: -moz-linear-gradient(center top , #ff7101, #ff5a00);
    background-image: -ms-linear-gradient(top, #ff7101, #ff5a00);
    background-image: -webkit-linear-gradient(top, #ff7101, #ff5a00);
    background-image: -o-linear-gradient(top, #ff7101, #ff5a00);
    background-image: linear-gradient(top, #ff7101, #ff5a00);
    opacity: .9;
    background-repeat: repeat-x;
}

.sso-login:hover {
	background: #ff5a00;
	opacity: 1;
    background-position: 0 -15px;
}

.remember-me {
	color: #999;
}
.other-login-btn {
	width: 100%;
}
.dropdown-menu.teams {
	width: 300px;
}
.dropdown-menu.teams li {
	float: left; width: 149px;
}
.dropdown-menu.teams li a {
	padding: 6px 14px; font-size: 14px;
}

.es-prev,.es-next {
	border: 0;
	cursor: pointer;
	width: 101px;
	height: 30px;
	background: url(img/step.png) no-repeat;
	font-size: 0;
}

.es-next {
	background-position: 0 -30px
}

.tree-m label {
	cursor: pointer;
}
label {
	margin-bottom: 0;
}
.add-link,.edit-link,.del-link,.test-link {
	margin-top: 5px;
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	text-decoration: none !important;
	color: #999 !important;
}
.add-link:hover,.edit-link:hover,.del-link:hover,.test-link:hover {
	color: #666 !important;
}
.add-link {
	background-position: 0 -31px;
}

.btns-container {
	margin: 10px 18px;
}
.add-link-module {
	margin: 0;
	position: relative;
	top: -7px;
	left: -3px;
	height: 15px;
}

.div-p-control {
	padding-left: 2px;
}
.edit-link {
	background-position: 0 -256px;
	padding-top: 1px
}

.del-link {
	background-position: 0 -95px;
}

.test-link {
	background-position: 0 0;
}

.float-left {
	float: left;
}

.clear {
	clear: both;
}

div#tipDiv {
	color: #000;
	font-size: 12px;
	line-height: 1.2;
	position: absolute;
	background-color: #E1E5F1;
	border: 1px solid #667295;
	width: 150px;
	padding: 4px;
	z-index: 999999;
}

.invalid {
	border: solid Red 1px;
	color: Red;
}

.antialiased {
    -webkit-font-smoothing: antialiased; /* 1 */
    -moz-osx-font-smoothing: grayscale; /* 2 */
}


/**
.navbar-inverse .navbar-brand {
	font-size: 22px;
	color: white;
}

*/

/* .navbar-inverse {
	background-color: #af235d;
	background-image: none;
	color: white;
	border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #d80066;
} */

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover {
	font-size: 22px;/* 
	background-color: #af235d;*/
	color: white; 
}

/* .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #d80066;
} */
.navbar-nav {
	margin-left: 40px;
}

/**
 * 引入Logo字体图标
 */
@font-face {
    font-family: 'logo';
    src: url('http://at.alicdn.com/t/font_1390195988_9420388.eot'); /* IE9*/
    src: url('http://at.alicdn.com/t/font_1390195988_9420388.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://at.alicdn.com/t/font_1390195989_0386753.woff') format('woff'), /* chrome、firefox */
    url('http://at.alicdn.com/t/font_1390195988_7969282.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/font_1390195989_0668917.svg#svgFontName') format('svg'); /* iOS 4.1- */
}

.iconlogo,
.type .iconlogo {
    font-family: "logo";
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    display: inline-block;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.logo-text {
	display: inline-block;
	margin-left: 10px;
}
.mi-rap {
	font-size: 48px;
	/* color: #af235d; */
	float: left;
}
.mi-rap:before {
    content: '\3434';
}


.project-autocomplete-con {
	display: none;
	width: 300px; font-size: 14px; position: absolute; left: 0; top: 35px; background-color: #FFF; border: 1px solid #CCC; z-index: 1000
}
.project-autocomplete-con ul {
	margin-bottom: 0;
}
.project-autocomplete-con li {
	cursor: pointer; padding: 6px 11px; line-height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.project-autocomplete-con li:nth-child(odd) {
	background-color: #F9F9F9;
}
.project-autocomplete-con li:hover, .project-autocomplete-con li.active {
	background-color: #F2F2F2; 
}
.search-project-con {
	width: 300px; display: inline-block; margin-left: 40px; position: relative; margin-top: 8px;
}

.search-project-con .glyphicon-search {
	position: absolute; 
	font-size: 14px;
	right: 8px;
	top: 10px;
	color: #CCC;
}
.project-search-inputer {
	padding-right: 25px;
}