.floaterd {padding-top:3px;}
.floaterd-top {background: #3B5C55}
.floaterd-bottom {display:none}
.floater {position:absolute !important;}
.floater-title {border-right:1px solid #CBE9B7;border-left:1px solid #CBE9B7;border-top:1px solid #CBE9B7;cursor:move;position:absolute;left:0;top:0;height:23px;padding:4px 10px 0 18px;background:url(img/global_bg.png) 0 -150px repeat-x;font-size:12px;color:#E2FEC4;font-weight:bold;}
.floater-close {position:absolute;right:5px;top:5px;font-size:1px;border:0px;float:right;display:block;width:19px;height:19px;background:url(img/btn.gif) -83px -49px;cursor:pointer;}
.floater-content {padding:37px 18px 9px;border-right:1px solid #CBE9B7;border-left:1px solid #CBE9B7;border-bottom:1px solid #CBE9B7;background:#F3FBEC}
.floater-inner {overflow-y:auto;overflow-x:hidden}
.floater-corner {background: #fff}
