<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/tcom/template.rap.vm')
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Login        </title>
        #includeRapStatic
        <style type="text/css">
            .container {width:430px;}
        </style>
        <script type="text/javascript" src="${staticRoot}/js/core/jquery-2.1.0.min.js?_r=$!timeStamp"></script>
    </head>
#if($returnUrlFirstSet)
    #set($returnUrlEncoded = $!utils.escapeInU($returnUrl))
#else
    #set($returnUrlEncoded = $returnUrl)
#end
    <body>
        #bodyNewStart
        <form name="formMain" action="$accountUrl.doLogin" method="post">
            <input type="hidden" name="returnUrl" value="$!returnUrlEncoded" />
            <table class="table">
                <tr>
                    <td colspan="2"><h4>登录</h4></td>
                </tr>
                <tr>
                    <td>用户名:</td>
                    <td><input name="account" type="text" value="$!account" width="120px" /></td>
                </tr>
                <tr>
                    <td>密&nbsp;&nbsp;&nbsp;&nbsp;码:</td>
                    <td><input name="password" type="password" value="" width="120px" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" value="登录" /></td>
                </tr>
                #if ($errMsg && $errMsg != "")
                <tr>
                    <td></td>
                    <td><span class="label label-important">$!errMsg</span></td>
                </tr>
                #end
            </table>
        </form>
        #bodyEnd
    </body>
</html>
