<!DOCTYPE html>
#parse('/tcom/template.rap.vm')
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">
		<title>Manage Account        </title>
		#includeNewRapStatic
        <style type="text/css">
            #if ($isEditMode)
            \#table {width:530px;}
            #else
            \#table {width:560px;}
            #end
        </style>
	</head>
	<body>
	    #bodyNewStart
        #if($isEditMode)
        <form name="formUpdateProfile" action="$accountUrl.doUpdateProfile" method="post" onsubmit="return formOnSubmit(this);">
        #end
            <table id="table" class="table" cellpadding="4px" style="margin: 0 auto; margin-top: 30px;">
                <tr>
                    <td>用户名:</td>
                    <td>$!curUser.account</td>
                </tr>
                <tr>
                    <td>名字:</td>
                    <td>
                        #if($isEditMode)
                        <input name="name" minLen="2" maxLen="10" message="名字有效长度2-10" class="text-input" value="$!curUser.name" type="text" />
                        #else
                            $!curUser.name
                        #end
                    </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>
                        #if($isEditMode)
                        <input name="email" minLen="1" message="Email地址无效" pattern="[a-zA-Z0-9_+.-]+\@([a-zA-Z0-9-]+\.)+[a-zA-Z0-9]{2,4}" class="text-input" value="$!curUser.email" type="text" />
                        #else
                        $!curUser.email
                        #end
                    </td>
                </tr>
                #if($isEditMode)
                <tr>
                    <td>旧密码:</td>
                    <td>
                        <input id="oldPassword" name="password" class="text-input" type="password" placeholder="请输入旧密码" /><font color="silver">* 若无需修改请忽略</font>
                    </td>
                </tr>
                <tr>
                    <td>新密码:</td>
                    <td><input id="newPassword" name="newPassword" class="text-input" type="password" placeholder="请输入新密码" /></td>
                </tr>
                <tr>
                    <td>确认密码:</td>
                    <td><input id="confirmNewPassword" class="text-input" type="password" placeholder="请再次输入新密码" /></td>
                </tr>
                #end
                <tr>
                    <td>角色:</td>
                    <td>$!curUser.roleListStr</td>
                </tr>
                <tr>
                    <td>注册时间:</td>
                    <td>$!curUser.createDateStr</td>
                </tr>
                <tr>
                    <td>上次登录:</td>
                    <td>$!curUser.lastLoginDateStr</td>
                </tr>
                <!--<tr>
                    <td></td>
                    <td>
                    	
                        #if($isEditMode)
                        <input type="submit" value="更新资料" class="btn btn-primary" />
                        <input type="button" value="取消" class="btn" onclick="window.location.href='$accountUrl.myAccount'" />
                        #else
                        <input type="button" value="修改资料" class="btn" onclick="window.location.href='$accountUrl.updateProfile'" />
                        #end
                        
                    </td>
                </tr>-->
                <tr>
                    <td></td>
                    <td>
                        #if($errMsg && $errMsg != "")
                        <span class="label label-important">$!errMsg</span>
                        #end
                    </td>
                </tr>
            </table>
        #if ($isEditMode) 
        </form>
        #end
		#bodyEnd
		<script type="text/javascript">
			function formOnSubmit(form) {
				return rap.util.validator.validForm(form);
			}
		</script>
	</body>
</html>
