<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/tcom/template.rap.vm')
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Manage Account        </title>
		#includeRapStatic
		<style type="text/css">
			.text-input {
				width: 200px;
			}
		</style>
	</head>
	<body>
	    #bodyStart
		<div id="myAccount">
			#if($isEditMode)
			<form name="formUpdateProfile" action="$accountUrl.doUpdateProfile" method="post" onsubmit="return formOnSubmit(this);">
			#end
			<div class="table-container">
				<div class="item">
					<div class="left">用户名:</div><div class="right">$!curUser.account</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">名字:</div><div class="right">#if($isEditMode)<input name="name" minLen="2" maxLen="10" message="名字有效长度2-10" class="text-input" value="$!curUser.name" type="text" />#else$!curUser.name#end</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">Email:</div><div class="right">#if($isEditMode)<input name="email" minLen="1" message="Email地址无效" pattern="[a-zA-Z0-9_+.-]+\@([a-zA-Z0-9-]+\.)+[a-zA-Z0-9]{2,4}" class="text-input" value="$!curUser.email" type="text" />#else$!curUser.email#end</div>
					<div class="clear"></div>
				</div>
				#if($isEditMode)
				<div class="item">
					<div class="left">旧密码:</div><div class="right"><input id="oldPassword" name="password" class="text-input" type="password" /> <font color="silver">* 若无需修改请忽略</font></div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">新密码:</div><div class="right"><input id="newPassword" name="newPassword" class="text-input" type="password" /></div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">确认密码:</div><div class="right"><input id="confirmNewPassword" class="text-input" type="password"></div>
					<div class="clear"></div>
				</div>
				#end
				<div clas="item">
					<div class="left">角色:</div><div class="right">$!curUser.roleListStr</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">注册时间:</div><div class="right">$!curUser.createDateStr</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="left">上次登录:</div><div class="right">$!curUser.lastLoginDateStr</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="control">
						#if($isEditMode)
						<input type="submit" value="更新资料" />
						<input type="button" value="取消" onclick="window.location.href='$accountUrl.myAccount'" />
						#else
						<input type="button" value="修改资料" onclick="window.location.href='$accountUrl.updateProfile'" />
						#end
					</div>
				</div>
				<div class="item">
					<div class="error">$!errMsg</div>
				</div>
			</div>
			#if ($isEditMode) 
			</form>
			#end
		</div>
		#bodyEnd
		<script type="text/javascript">
			function formOnSubmit(form) {
				return rap.util.validator.validForm(form);
			}
		</script>
	</body>
</html>
