<!DOCTYPE html>
#parse('/tcom/template.rap.vm')
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="${staticRoot}/img/favicon.ico">
<title>Manage Account</title> #includeNewRapStatic
</head>
<body>
	<style>
.ml10 {
	margin-left: 10px;
}

.mt30 {
	margin-top: 30px;
}

.settings {
	width: 580px;
	margin: 0 auto;
	margin-top: 30px;
}

.settings .nav-tabs {
	margin-top: 20px;
}

.settings .nav-tabs li:first-child {
	margin-left: 30px;
}

.settings .tab-content .tab-pane {
	padding: 30px 20px 0 20px;
	min-height: 300px;
}
</style>
	#bodyNewStart
	<!-- Nav tabs -->
	<div class="settings">
		<div class="alert alert-success">This function's not finished yet T  .T</div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">Reminder Configurations</a>
			</li>
			<li><a href="#profile" data-toggle="tab">Mail Notification Configurations</a></li>
			<li class='hide'><a href="#settings" data-toggle="tab">Others</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="home">
				<form class="form-horizontal" role="form" style="margin: 0 auto;">
					<div class="form-group ">
						<label class="control-label col-sm-3" for="inputSuccess3">Reminder Effects Preview</label>
						<div class="col-sm-9">
							<img src="${staticRoot}/img/preview-notify.png" width="360" />
						</div>
					</div>
					<div class="form-group ">
						<label class="control-label col-sm-3" for="inputSuccess3">Whether receive reminders</label>
						<div class="col-sm-9">
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios1" value="option1" checked> Receive </label>
							</div>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios2" value="option2"> Off </label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="inputSuccess3"> Reminder Type Configurations</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<label> <input type="checkbox" name="optionsRadios"
									id="optionsRadios1" value="option1" checked>
                                    Notify when created projects changed </label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" name="optionsRadios"
                                    id="optionsRadios2" value="option2">
                                    Notify when joined projects changed </label>
							</div>
						</div>
					</div>

					<div class="form-group mt30">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success">Save</button>
							<button type="reset" class="btn btn-default ml10">Reset</button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="profile">
				<form class="form-horizontal" role="form" style="margin: 0 auto;">
					
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-3 control-label">Your name in mail notifications:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" style="width:44%;"id="inputEmail3" placeholder="" title=" - If not set up，send RAP user name by default.">
						</div>
					</div>
					
					<div class="form-group ">
						<label class="control-label col-sm-3" for="inputSuccess3">Receive mail notifications or not</label>
						<div class="col-sm-9">
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios1" value="option1" checked> Receive </label>
							</div>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									id="optionsRadios2" value="option2"> Off </label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="inputSuccess3">Mail Notification Content Settings</label>
						<div class="col-sm-9">
							<div class="checkbox">
								<label> <input type="checkbox" name="optionsRadios"
									id="optionsRadios1" value="option1" checked>
									Notify when created projects changed</label>
							</div>
							<div class="checkbox">
								<label> <input type="checkbox" name="optionsRadios"
									id="optionsRadios2" value="option2"> Notify when joined projects changed</label>
							</div>
						</div>
					</div>

					<div class="form-group mt30">
						<div class="col-sm-offset-3 col-sm-9">
							<button type="submit" class="btn btn-success">Save</button>
							<button type="reset" class="btn btn-default ml10">Reset</button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade hide" id="settings"></div>
		</div>
	</div>
	#bodyEnd
</body>
</html>
