<!DOCTYPE html>
#parse('/tcom/template.rap.vm')
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>New user register       </title>
        #includeNewRapStatic
    </head>
    <body>
        #bodyNewStart
        <div id="register">
            <div class="item">
                <div class="error alert alert-danger">#if($errMsg)$errMsg#else User name existed, or other errors. Please try again. #end</div>
            </div>
        </div>
        #bodyEnd
    </body>
</html>
