<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login </title>
    #parse('/tcom/template.rap.vm')
    #includeNewRapStatic
    #if($returnUrlFirstSet)
        #set($returnUrlEncoded = $!utils.escapeInU($returnUrl))
    #else
        #set($returnUrlEncoded = $returnUrl)
    #end
    <style type="text/css">

    </style>
</head>
<body>
<div class="container">
    #bodyNewStart
    <form name="formMain" role="form" action="$accountUrl.doLogin" method="post">
        <input type="hidden" name="returnUrl" value="$!returnUrlEncoded"/>

        <div class="form-group">
            <label for="accountInput">登录</label>
            <input name="account" class="form-control" type="text" value="$!account" placeholder="请输入账户"/>
        </div>
        <div class="form-group">
            <label for="passwordInput">密码</label>
            <input name="password" class="form-control" type="password" value="" placeholder="请输入密码"/>
        </div>
        #if ($errMsg && $errMsg != "")
            <div class="form-group">
                <div class="alert alert-danger">
                    $!errMsg
                </div>
            </div>
        #end
        <input type="submit" class="btn btn-default" value="登录"/>&nbsp;&nbsp;
        <a  style="display:none;" href="https://$consts.aliLoginUrl/ssoLogin.htm?APP_NAME=rapauto&BACK_URL=$!homeUrlEncoded$!returnUrlEncoded&CANCEL_CERT=true&CLIENT_VERSION=0.3.9&CONTEXT_PATH=%2F">
            <span class="btn btn-warning">域账号登录</span>
        </a>
    </form>
    #bodyEnd
</div>
</body>
</html>
