/*
 * Basic styles
 */
body {
  background: #e4e6e5 url(img/bg.jpg);
}

body a {
  color: #3187DB;
}

.highlight {
  background: none;
}

/*
 * Shamelessly copied from https://github.com/lepture/yue.css/blob/master/yue.css
 */
.type h1,
.type h2,
.type h3,
.type h4,
.type h5,
.type h6 {
  color: #222223;
}
.type h1 {
  font-size: 1.8em;
  margin: 0.67em 0;
}
.type > h1 {
  margin-top: 0;
  font-size: 2em;
}
.type h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.type h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.type h4,
.type h5,
.type h6 {
  font-size: 1em;
  margin: 1.6em 0 1em 0;
}
.type h6 {
  font-weight: 500;
}

/*
 * icons
 */
.mi-projects:before {
  content: '\f082';
}
.mi-mobile:before {
  content: '\f086';
}
.mi-brix:before {
  content: '\f039';
}
.mi-rap:before {
  content: '\016e';
}
.mi-magix:before {
  content: '\f06f';
}
.mi-mock:before {
  content: '\0034';
}
.mi-crox:before {
  content: '\012a';
}
.mi-releases:before {
  content: '\0030';
}
.mi-tutorial:before {
  content: '\016b';
}
.mi-whos-using:before {
  content: '\00fa';
}
.mi-articles:before {
  content: '\0123';
}
.mi-iconfont:before {
  content: '\003c';
}
.mi-products:before {
  content: '\0199';
}
.mi-cube:before {
  content: '\01bc';
}
.mi-diamond:before {
  content: '\f005';
}
.mi-gaming:before {
  content: '\007a';
}

/*
 * Aside styles
 */
#nav .logo {
  display: block;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Georgia, serif;
}
#nav .logo:hover {
  border-bottom: none;
  color: #FC4349;
}
#nav .logo .iconfont {
  display: block;
  font-size: 500%;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav .entry {
  display: inline-block;
  padding: 16px 20px;
}
#nav .entry:hover {
  background: #d6d6d6;
  border-bottom: none;
}
#nav a {
  color: #313131;
}

/*
 * Ceiling
 */
#ceiling {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #f4f4f4;
  border-bottom: 1px solid #d6d6d6;
  color: #aaa;
}
#ceiling a {
  float: left;
  display: block;
  padding: 10px 25px 10px 20px;
}
#ceiling a:link,
#ceiling a:visited {
  color: #aaa;
}
#ceiling .products {
  float: left;
}
#ceiling .products a {
  border-right: 1px solid #d6d6d6;
}
#ceiling a:hover {
  border-bottom: none;
  color: #313131;
}
#ceiling .portal {
  float: right;
}

.ds-thread {
  margin-top: 30px;
}

#footer {
  margin: 40px auto 20px;
  text-align: center;
}
#footer a {
  color: #313131;
}
#footer a:hover {
  border-bottom: none;
}
#footer .cnzz,
#footer address {
  display: inline-block;
  vertical-align: top;
}
#footer .cnzz {
  padding-top: 3px;
}
#footer address {
  font-size: 12px;
}


/*
 * At least give me 320px, would you?
 */
#content {
  min-width: 320px;
}


@media (max-width: 799px) {
  html, body {
    height: 100%;
    overflow-x: hidden;
  }

  #page {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    -webkit-transition: left 0.2s;
       -moz-transition: left 0.2s;
            transition: left 0.2s;
  }

  #content {
    height: 100%;
    overflow: auto;
  }

  #content-wrap {
    padding: 90px 20px 20px;
    position: relative;
  }

  #ceiling a {
    padding: 6px 10px;
  }
  #ceiling .products {
    margin-left: 45px;
  }
  #ceiling .products a {
    padding: 2px 5px;
    border-right: none;
  }
  #ceiling .products .name {
    display: none;
  }
  #ceiling .products .iconfont,
  #ceiling .portal .iconfont {
    font-size: 20px;
  }
  #ceiling .portal a {
    padding: 2px 10px;
  }
  #ceiling .portal .name {
    display: none;
  }

  #nav {
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    width: 199px;
    background: #f4f4f4;
    border-right: 1px solid #d6d6d6;
  }
  #nav .toggler {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 6px 10px;
    background: #f4f4f4;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }
  #nav .toggler:hover {
    border-bottom: 1px solid #d6d6d6;
  }
  #nav .toggler .label {
    display: none;
  }
  #nav a.logo {
    margin-bottom: 28px;
  }
  #nav .entry {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #page .stoc {
    position: static;
    background: none;
  }
  #page .stoc label {
    cursor: default;
  }
  #page .stoc label,
  #page .stoc a {
    display: inline;
    padding: 0;
  }
  #page .stoc ol {
    list-style: disc outside;
    padding-left: 40px;
  }
  #page .stoc a:hover {
    background: none;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  #ceiling .products {
    margin-left: 90px;
  }
  #ceiling a {
    padding: 10px 20px;
  }
  #ceiling .products a {
    padding: 6px 15px;
  }
  #ceiling .portal a {
    padding: 6px 15px;
  }
  #ceiling .portal .name {
    display: inline-block;
  }

  #nav .toggler {
    width: 50px;
    padding: 10px 20px;
  }
  #nav .toggler .label {
    display: inline-block;
  }
}


@media (min-width: 800px) {
  body {
    text-align: center;
  }

  #page {
    text-align: left;
    width: 700px;
    margin: 108px auto 0;
  }

  #nav {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d6d6d6;
  }
  #nav.fixed {
    position: fixed;
    top: 0;
    background: #f4f4f4;
  }
  #nav .logo {
    float: left;
  }
  #nav .menu {
    float: right;
  }
  #nav li {
    float: right;
  }
  #nav .entry {
    border-right: 1px solid #d6d6d6;
  }
  #nav .toggler {
    display: none;
  }

  #content {
    max-width: 680px;
    padding: 10px;
    margin-top: 32px;
  }

  #page .stoc {
    top: 130px;
    left: 50%;
    right: initial;
    bottom: initial;
    padding: 0;
    overflow: auto;
    margin-left: 360px;
  }
  #page .stoc a {
    height: auto;
  }
  #page .fixed .stoc {
    top: 80px;
  }
}

