<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <title>欢迎使用RAP </title>
    #includeNewRapStatic
    <style type="text/css">
        body {
            padding-top: 20px;
        }

        .footer {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-top: 40px;
            border-top: 1px solid #eee;
        }

        /* Main marketing message and sign up button */
        .jumbotron {
            text-align: center;
            background-color: transparent;
        }

        .jumbotron .btn {
            padding: 14px 24px;
            font-size: 21px;
        }

        /* Customize the nav-justified links to be fill the entire space of the .navbar */

        .nav-justified {
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .nav-justified > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0;
            font-weight: bold;
            color: #777;
            text-align: center;
            background-color: #e5e5e5; /* Old browsers */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
            background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
            background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
            background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
            background-repeat: repeat-x; /* Repeat the gradient */
            border-bottom: 1px solid #d5d5d5;
        }

        .nav-justified > .active > a,
        .nav-justified > .active > a:hover,
        .nav-justified > .active > a:focus {
            background-color: #ddd;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
            box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
        }

        .nav-justified > li:first-child > a {
            border-radius: 5px 5px 0 0;
        }

        .nav-justified > li:last-child > a {
            border-bottom: 0;
            border-radius: 0 0 5px 5px;
        }

        @media (min-width: 768px) {
            .nav-justified {
                max-height: 52px;
            }

            .nav-justified > li > a {
                border-right: 1px solid #d5d5d5;
                border-left: 1px solid #fff;
            }

            .nav-justified > li:first-child > a {
                border-left: 0;
                border-radius: 5px 0 0 5px;
            }

            .nav-justified > li:last-child > a {
                border-right: 0;
                border-radius: 0 5px 5px 0;
            }
        }

        /* Responsive: Portrait tablets and up */
        @media screen and (min-width: 768px) {
            /* Remove the padding we set earlier */
            .masthead,
            .marketing,
            .footer {
                padding-right: 0;
                padding-left: 0;
            }
        }
    </style>
</head>
<body>
#bodyNewStart
<div class="container">

    <!-- Jumbotron -->
    <div class="jumbotron" style="margin-top:100px;">
        <h1>RAP</h1>

        <p class="lead">RAP是一个可视化接口管理工具
            通过分析接口结构，动态生成模拟数据，校验真实接口正确性，
            围绕接口定义，通过一系列自动化工具提升我们的协作效率。我们的口号：提高效率，回家吃晚饭！</p>

        <p>
            <a class="btn btn-lg btn-success" href="https://github.com/thx/RAP" target="_blank" role="button">
                GitHub
            </a>
        </p>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>轻松编辑与分享</h2>

            <p>可视化编辑，完善的版本控制，各种格式的导入导出。让前后端约定接口的工作变得十分简单 </p>
        </div>
        <div class="col-lg-4">
            <h2>Mock服务</h2>

            <p>RAP会自动根据接口文档生成MOCK接口，这些接口会自动生成模拟数据，支持复杂的生成逻辑。</p>
        </div>
        <div class="col-lg-4">
            <h2>实力的保障</h2>

            <p>覆盖阿里几乎所有部门，有200+公司正在使用RAP，历经4年积累大量经验，可适应各种复杂的业务场景。</p>
        </div>
    </div>

</div>
<!-- /container -->

#bodyEnd
</body>
</html>
