<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>RAP Dashboard</title>
    #parse('/tcom/template.rap.vm')
    #includeNewRapStatic
    <link rel="shortcut icon" href="/stat/img/favicon.ico">
    <script type="text/javascript" src="${staticRoot}/highcharts/js/highcharts.js"></script>
    <script type="text/javascript" src="${staticRoot}/js/util/dateFormat.min.js"></script>
    <script type="text/javascript" src="log.js"></script>
    <style type="text/css">
        .tab-pane {
            height: 350px;
        }

        #realtime {
            margin-bottom: 15px;
            height: 250px;
        }

        .data-tab {
            font-size: 30px;
            color: #888;
            margin-top: 120px;
            padding: 14px;
            text-align: center;
        }
    </style>
</head>
<body>
#bodyNewStart
<div class="container">
    <h2><span class="glyphicon glyphicon-dashboard"></span>&nbsp;RAP Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <h3><span class="glyphicon glyphicon-time"></span>&nbsp;实时数据</h3>

            <div id="realtime">loading...</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-signal"></span>&nbsp;趋势数据</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#userTrend" role="tab" data-toggle="tab">用户量趋势</a></li>
                <li><a href="#checkInTrend" role="tab" data-toggle="tab">文档提交数趋势</a></li>
                <li><a href="#projectTrend" role="tab" data-toggle="tab">项目数趋势</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="userTrend"></div>
                <div class="tab-pane fade" id="checkInTrend"></div>
                <div class="tab-pane fade" id="projectTrend"></div>
            </div>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-user"></span>&nbsp;使用数据</h3>

            <div class="data-tab">
                目前已有<span class="label label-primary">$modelLogMap.user.value</span>&nbsp;位工程师<br/>
                <span class="label label-primary">$modelLogMap.project.value</span>&nbsp;个业务项目在使用RAP。<br/>
                在这里定义了
                <span class="label label-primary">$modelLogMap.action.value</span>&nbsp;个接口<br/>RAP已为小伙伴们伪造了<br/>
                <span class="label label-danger label-sx" id="mockDataInDashboard"
                      data-start="$modelLogMap.mockNum.value">$modelLogMap.mockNum.value</span>&nbsp;次MOCK数据！
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-time"></span>&nbsp;今日统计</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#mockByProjectTop5Today" role="tab" data-toggle="tab">活跃项目</a></li>
                <li><a href="#ipLog" role="tab" data-toggle="tab" class="tip"
                       title="数据不包含css/js/html/图片/font等静态文件请求、日志请求"><span
                        class="glyphicon glyphicon-question-sign"></span>&nbsp;活跃IP</a></li>
                <li><a href="#userLog" role="tab" data-toggle="tab" class="tip"
                       title="数据不包含css/js/html/图片/font等静态文件请求、日志请求"><span
                        class="glyphicon glyphicon-question-sign"></span>&nbsp;活跃用户</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" style="height:400px;">
                <div class="tab-pane fade in active" id="mockByProjectTop5Today"></div>
                <div class="tab-pane fade" id="ipLog">
                    <table class="table table-hover" style="width:300px;">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>IP</td>
                            <td>Count</td>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($item in $logger.ipLog)
                            <tr>
                                <td>$velocityCount</td>
                                <td>$item.key</td>
                                <td>$item.value</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="userLog">
                    <table class="table table-hover" style="width:300px;">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Account</td>
                            <td>Count</td>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($item in $logger.userLog)
                                #if($item.key)
                                <tr>
                                    <td>$velocityCount</td>
                                    <td>$item.key</td>
                                    <td>$item.value</td>
                                </tr>
                                #end
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-th"></span>&nbsp;全量统计</h3>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#team" role="tab" data-toggle="tab">团队接口数统计</a></li>
                <li><a href="#statistics" role="tab" data-toggle="tab">系统统计</a></li>
                <li><a href="#mockByProjectTop5" role="tab" data-toggle="tab">MOCK服务调用TOP5</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="team"></div>
                <div class="tab-pane fade" id="statistics">
                    <table class="table table-hover" style="width:300px;">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Key</td>
                            <td>Count</td>
                        </tr>
                        </thead>
                        <tbody>
                            #foreach($item in $modelLog)
                            <tr>
                                <td>$velocityCount</td>
                                #if($item.title)
                                    <td>
                                        <a class="tip" title="$item.title">
                                            <span class="glyphicon glyphicon-question-sign"></span>&nbsp;$item.key
                                        </a>
                                    </td>
                                #else
                                    <td>$item.key</td>
                                #end
                                <td>$item.value</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="mockByProjectTop5"></div>
            </div>
        </div>
    </div>

</div>
#bodyEnd
<script>
    loadTrends($trendsJSON);
    loadStatistics($statisticsJSON);
    loadRealtime($realtimeJSON, '$platformUrl.realtimeUpdate', '$serverTime');
    $('.tip').tooltip();
</script>
</body>
</html>