#***
 * 该文件主要用于定义前端页面常量、请求action地址等
 * 建议前端定义的常量以f(f-front)开头。如：$fFoobar
 *#
##----------------------前端定义的常量-------------------------------
## 引号
#set($dQuote = '"')
#set($sQuote = "'")

## 精确到秒
#set($timeFormat = 'yyyy-MM-dd HH:mm:ss')

## 精确到天
#set($dateFormat = 'yyyy-MM-dd')

## 时间戳
#set($timeStamp = '20140416.v0.8.1')

##----------------------页面请求action地址-------------------------------
## 配置工程的上下文路径
#set($projectContext = "$!link.getContextPath()")
##set($projectContext = "$!link.getContextPath()/rap")

## 配置静态资源请求的路径
#set($staticRoot = "$!projectContext/stat")

#set($newUrl = {
    "home":"$projectContext/org/index.do"
})

#set($accountUrl = {
    "login":"$projectContext/account/login.action",
    "doLogin":"$projectContext/account/doLogin.action",
    "doLogout":"$projectContext/account/doLogout.action",
    "register":"$projectContext/account/register.action",
    "doRegister":"$projectContext/account/doRegister.action",
    "myAccount":"$projectContext/account/myAccount.action",
    "updateProfile":"$projectContext/account/updateProfile.action",
    "doUpdateProfile":"$projectContext/account/doUpdateProfile.action",
    "doChangeProfile":"$projectContext/account/doChangeProfile.action",
    "myHome":"$projectContext/org/index.action"
})

#set($projectUrl = {
    "myProjectList":"$projectContext/project/myProjectList.action",
    "removeProject":"$projectContext/project/removeProject.action",
    "addProject":"$projectContext/project/addProject.action",
    "myProject":"$projectContext/project/myProject.action",
    "projectDetailAjax":"$projectContext/project/projectDetailAjax.action",
    "addOrUpdateProject":"$projectContext/project/addOrUpdateProject.action",
    "allProductlineList":"$projectContext/org/productline.action"
})

#set($workspaceUrl = {
    "myWorkspace":"$projectContext/workspace/myWorkspace.action",
    "getModuleHtmlAjax":"$projectContext/workspace/getModuleHtmlAjax.action",
    "updateCurrentSave":"$projectContext/workspace/updateCurrentSave.action",
    "updateSave":"$projectContext/workspace/updateSave.action",
    "querySave":"$projectContext/workspace/querySave.action",
    "removeSave":"$projectContext/workspace/removeSave.action",
    "checkIn":"$projectContext/workspace/checkIn.action",
    "checkOut":"$projectContext/workspace/checkOut.action",
    "ping":"$projectContext/workspace/ping.action",
    "queryVersion":"$projectContext/workspace/queryVersion.action",
    "switchVersion":"$projectContext/workspace/switchVersion.action",
    "lock":"$projectContext/workspace/lock.action",
    "unlock":"$projectContext/workspace/unlock.action",
    "export":"$projectContext/workspace/export.action"
})

#set($platformUrl = {
    "home":"$projectContext/platform/home.action",
    "document":"$projectContext/platform/document.action",
    "about":"$projectContext/platform/about.action",
    "status":"$projectContext/platform/status.action",
    "help":"$!projectContext/platform/help.action",
    "test":"$!projectContext/platform/test.action",
    "doc":"http://thx.alibaba-inc.com/RAP"
})


#set($testerUrl = {
    "pageTester":"$projectContext/tester/pageTester.action"
})
