#parse('/tcom/utils.macro.vm')

## master page start
#macro (bodyStart)
<div id="wrapper">
	<div id="wrapper-bgtop">
		<div id="header">
			<div id="logo">
				<h1><a href="#">RAP v1.1</a></h1>
				<p><em> welcome to <a href="http://rap.baidu.com/">Rigel Automation Platform!</a></em></p>
			</div>
			<hr />
			<!-- end #logo -->
			<div id="menu">
				<ul>
					<li><a href="$platformUrl.home" class="first">Home</a></li>
					#if($isLogined)
					<li><a href="$accountUrl.myAccount">Account</a></li>
					<li><a href="$projectUrl.myProjectList">Project</a></li>
					#end

					<li><a href="$platformUrl.status">Status</a></li>
					<!--<li><a href="$platformUrl.document">Doc</a></li>-->
					<li><a href="$platformUrl.about">About</a></li>
				</ul>
			</div>
			<div id="login-control">
			#if ($curUser) 
			<a href="$accountUrl.myAccount">$curAccount</a>&nbsp;&nbsp;<a href="$accountUrl.doLogout">注销</a>
			<input type="checkbox" #if($curUser.isHintEnabled)checked="true"#end id="checkboxHintEnabled" onchange="checkboxHintChanged(this);" /><font color="white">开启提示</font>
			#else <a href="$accountUrl.login">登录</a>
			#end
			</div>
		</div>
		<!-- end #header -->
		<!-- end #header-wrapper -->
		<div id="page">
			<div id="content">
#end
## master page end
#macro (bodyEnd)
			</div>
			<!-- end #content -->
		</div>
		<!-- end #page -->
	</div>
</div>
<div id="footer-bgcontent">
	<div id="footer">
		<p>Copyright (c) 2010 taobao.com All rights reserved. Design by <a href="mailto:huoyong.msb@taobao.com">Bosn</a>.</p>
		<div id="app-status">
		在线用户:$!countOfOnlineUserList
		</div>
	</div>
</div>
<script type="text/javascript">
	function checkboxHintChanged(ele) {
		if (rap && rap.util && rap.util.hint) {
			ele.checked ? rap.util.hint.enable() : rap.util.hint.disable(); 
			baidu.ajax.get("$accountUrl.doChangeProfile?profileProperty=isHintEnabled&profileValue=" + ele.checked, 
				function(xhr, response) {
					// do nothing
				}
			);
		}
	}
</script>
<!-- end #footer -->
#end
