#parse('/tcom/utils.macro.vm')


#set($domainUrl = "http://" + $consts.DOMAIN_URL)
#set($homeUrlEncoded = $utils.escapeInU($domainUrl))
#set($logoutUrl = $domainUrl + $accountUrl.doLogout)
#set($logoutUrlEncoded = $utils.escapeInU($logoutUrl))

## master page start
#macro (bodyNewStart $hide)
#if(!$hide)
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://rap.alibaba-inc.com"><i class="iconlogo mi-rap"></i> <span class="logo-text">RAP v0.9</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        #if($isLogined)
        <li><a href="$newUrl.home">我的主页</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">$curCorpName <b class="caret"></b></a>
          <ul class="dropdown-menu teams">
            #foreach($corp in $corpList)
             <li><a href="$projectUrl.allProductlineList?id=$corp.id">$corp.name</a></li>
            #end
          </ul>
        </li>
        <!-- <li><a href="$projectUrl.myProjectList">我的项目</a></li>
        <li><a href="$projectUrl.allProductlineList">产品线管理</a></li> -->
        #else
        <li><a href="$platformUrl.home">主页</a></li>
        #end
        <li><a href="$platformUrl.test">测试</a></li>
        <li><a href="$platformUrl.doc" target="_blank">文档</a></li>
        #if($isLogined)
        <li>
            <div class="search-project-con">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" class="project-search-inputer form-control" placeholder="请在此输入关键字搜索项目"/>
            <div class="project-autocomplete-con">
                <ul class="list-unstyled">
                </ul>
            </div>
        </div>
        </li>
        #end
      </ul>
      #if ($curUser)
      <div class="pull-right">
          <ul class="nav navbar-nav">
              <li>
                <a href="#" class="dropdown-toggle messages-trigger">消息<span class="label label-success">4</span></a>
                <ul class="dropdown-menu dropdown-menu-right messages-dropdown">
                    <li>
                        <div class="messages-container">
                            <div class="msgs"></div>
                            <div class="btns">

                            </div>
                        </div>
                    </li>
                </ul>
              </li>
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">$curUser.name <b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="$newUrl.home">我的主页</a></li>
                    <li><a href="$accountUrl.myAccount">个人信息</a></li>
                    <li><a href="$accountUrl.mySetting">个人设置</a></li>
                    <li class="divider"></li>
                    <li><a href="$accountUrl.doLogout">退出</a></li>
                </ul>
              </li>
          </ul>
      </div>
      #elseif(!$loginCtlHidden)
<div class="pull-right">
  <ul class="nav navbar-nav">
    <li>
      <a href="javascript:void(0);" class="dropdown-toggle" id="login-trigger">登录</a>
      <ul class="dropdown-menu dropdown-menu-right">
          <li>
              <form name="formMain" class="navbar-form login-form" action="$accountUrl.doLogin" method="post">
                  <input class="span2 form-control" style="width:200px" type="text" placeholder="用户名" required name="account">
                  <input class="span2 form-control" style="width:200px;margin-top:10px;" type="password" required placeholder="密码" name="password">
                  <!-- <div style="margin-top: 10px; display: none;">
                    <div class="checkbox remember-me">
                        <label>
                          <input type="checkbox" name="remember"> 下次自动登录
                        </label>
                      </div>
                  </div> -->
                  <div style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" id="login-btn">登录</button>
                    <button type="button" class="btn btn-default" id="cancel-login-btn" style="margin-left: 10px;">取消</button>
                  </div>
                  <!--<button type="button" onclick="window.location.href = '$accountUrl.register'" class="btn">注册</button>-->
              </form>
          </li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);" class="dropdown-toggle" id="register-trigger">注册</a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
              <form name="formMain" class="navbar-form register-form" action="$accountUrl.doRegister" method="post">
                  <input class="span2 form-control" style="width:200px" type="text" placeholder="中文名" required name="name">
                  <input class="span2 form-control" style="width:200px;margin-top:10px;" type="email" placeholder="邮箱" required name="email">
                  <input class="span2 form-control" style="width:200px;margin-top:10px;" type="text" placeholder="登录用户名" required name="account">
                  <input class="span2 form-control" style="width:200px;margin-top:10px;" type="password" placeholder="密码" required name="password" id="register-password">
                  <input class="span2 form-control" style="width:200px;margin-top:10px;" type="password" placeholder="密码确认" required name="passwordConfirm" id="register-password-confirm">
                  <div style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" id="register-btn">注册</button>
                    <button type="button" class="btn btn-default" id="cancel-register-btn" style="margin-left: 10px;">取消</button>
                  </div>
              </form>
          </li>
    </ul>
    </li>
  </ul>
</div>
      #end
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
#end
<div class="container">
#end

## master page end
#macro (bodyEnd)
    <hr>
    <footer>
        <p><span id="_logOnline">-</span> 人在使用RAP, 今日Mock服务被调用 <span id="_logMockNumToday">-</span> 次&nbsp;&nbsp;旺旺群支持:582755829</p>
    </footer>
    <script>
        function _logData() {
            if (window.localStorage) {
                if (window.localStorage.getItem('stopLogData')) {
                    return;
                }
            }
            jQuery.ajax({
                url     : '$accountUrl.logData',
                success : function(data){
                    data = JSON.parse(data);
                    $('#_logOnline').html(data.online);
                    $('#_logMockNumToday').html(data.mockNumToday);
                    setTimeout(_logData, 2000);
                }
            });
        }
        _logData();
    </script>
</div>
#end
