#parse('/tcom/utils.macro.vm')

## master page start
#macro (bodyNewStart)
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://rap.alibaba-inc.com"><i class="iconlogo mi-rap"></i> <span class="logo-text">RAP V0.8</span></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="$newUrl.home">我的主页</a></li>
        #if($isLogined)
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">$curCorpName <b class="caret"></b></a>
          <ul class="dropdown-menu">
            #foreach($corp in $corpList)
             <li><a href="$projectUrl.allProductlineList?id=$corp.id">$corp.name</a></li>
            #end
          </ul>
        </li>

        <!-- <li><a href="$projectUrl.myProjectList">我的项目</a></li>
        <li><a href="$projectUrl.allProductlineList">产品线管理</a></li> -->
        #end
        <li><a href="$platformUrl.test">测试</a></li>
        <li><a href="$platformUrl.doc" target="_blank">文档</a></li>
        <li><a href="$platformUrl.home">关于</a></li>
        <!--
        <li><a href="$platformUrl.help">帮助</a></li>
        -->
      </ul>
      #if ($curUser)
      <div class="pull-right">
          <ul class="nav navbar-nav">
              <li><a href="$accountUrl.myAccount">$curUser.name</a></li>
              <!--
              <li><a href="$accountUrl.doLogout">注销登录</a> </li>
              -->
          </ul>
      </div>
      #elseif(!$loginCtlHidden)
      <form name="formMain" class="navbar-form pull-right" action="$accountUrl.doLogin" method="post">
          <input class="span2 form-control" style="width:200px" type="text" placeholder="用户名" name="account">
          <input class="span2 form-control" style="width:200px" type="password" placeholder="密码" name="password">
          <button type="submit" class="btn btn-primary">登录</button>
          <!--<button type="button" onclick="window.location.href = '$accountUrl.register'" class="btn">注册</button>-->
      </form>
      #end
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
<div class="container">
#end

## master page start
#macro (bodyStart $noMenu)
#if(!$noMenu)
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
            </a> <a class="brand" href="http://rap.alibaba-inc.com">RAP v0.8</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="$platformUrl.home">首页</a></li>
                    #if($isLogined)
                    <li><a href="$projectUrl.myProjectList">我的项目</a></li>
                    <li><a href="$accountUrl.myAccount">我的账户</a></li>
                    #end
                    <li><a href="$platformUrl.help">帮助</a></li>
                    <li><a href="$platformUrl.about">关于</a></li>
                    <li><a href="$newUrl.home">回到新版</a></li>
                </ul>
                #if ($curUser)
                <div class="navbar-form pull-right">
                    <ul class="nav">
                        <li><a href="$accountUrl.myAccount">$curUser.name</a></li>
                        <!--
                        <li><a href="$accountUrl.doLogout">注销登录</a> </li>
                        -->
                    </ul>
                </div>
                #elseif(!$loginCtlHidden)
                <form name="formMain" class="navbar-form pull-right" action="$accountUrl.doLogin" method="post">
                    <input class="span2" type="text" placeholder="用户名" name="account">
                    <input class="span2" type="password" placeholder="密码" name="password">
                    <button type="submit" class="btn btn-primary">登录</button>
                    <!--<button type="button" onclick="window.location.href = '$accountUrl.register'" class="btn">注册</button>-->
                </form>
                #end
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
#end
<div class="container">
#end

## master page end
#macro (bodyEnd)
    <hr>
    <footer>
        <p>&copy;&nbsp;如需帮助请联系<a href="mailto:huoyong.msb@taobao.com">霍雍</a>&nbsp;或&nbsp;<a href="zhifu.wzf@alibaba-inc.com">思竹</a>&nbsp;&nbsp;在线用户:$!countOfOnlineUserList&nbsp;&nbsp;旺旺群支持:582755829</p>
    </footer>
</div>
#end
