<!DOCTYPE html>
    #parse('/tcom/template.rap.vm')
<html>
<head>
    <title>欢迎使用RAP </title>
    #includeNewRapStatic
    <link rel="stylesheet" href="./group/index.css?_r=$!timeStamp" type="text/css" media="screen">
</head>
<body>
#bodyNewStart
<div id="browserCheckAlert" class="alert alert-warning alert-dismissible" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <strong>Warning!</strong> 建议使用IE9+/Chrome/Firefox访问RAP，其它浏览器可能不支持某些特性，我们也不会对其兼容性进行维护。
</div>
<div class="page home">
    <div class="groups-con content">
        <h2>我的主页</h2>

        <div class="groups">
            <div class="loading">加载中，请稍候</div>
        </div>
    </div>
</div>
<script type="text/tmpl" id="group-tmpl">
{{#groups}}
<div class="group">
    <h3>
        <span class="group-name"><i class="glyphicon glyphicon-{{type}}"></i> {{name}}</span>
    </h3>
    <div class="box-con clearfix">
		{{#projects}}
        <div class="box" data-projid="{{id}}" data-teamid="{{teamId}}">
            <div class="info">
                <div class="title">{{name}}</div>
                <div class="intro">{{desc}}</div>
            </div>
            <div class="status">{{status}}<span class="creator">@{{creator.name}}</span></div>
			{{#important}}
				<div class="star"><i class="glyphicon glyphicon-star"></i></div>
			{{/important}}
			<div class="tools">
				{{#isManagable}}<i class="glyphicon glyphicon-pencil" data-id="{{id}}"></i>{{/isManagable}}
				<i class="glyphicon glyphicon-export" data-id="{{id}}" title="复制RAP插件地址"></i>
				<i class="glyphicon glyphicon-eye-open" data-id="{{id}}"></i>
				{{#isDeletable}}<i class="glyphicon glyphicon-trash" data-id="{{id}}"></i>{{/isDeletable}}
			</div>
			<input type="hidden" class="accounts-hidden" value="{{accounts}}"/>
        </div>
		{{/projects}}
		<div class="box-to-add">
        </div>
    </div>
</div>
{{/groups}}

</script>


<script type="text/tmpl" id="create-proj-success-tmpl">
<div class="box" data-projid="{{id}}">
            <div class="info">
                <div class="title">{{name}}</div>
                <div class="intro">{{desc}}</div>
            </div>
            <div class="status">{{status}}<span class="creator">@{{creator.name}}</span></div>
			<div class="tools">
				<i class="glyphicon glyphicon-pencil" data-id="{{id}}"></i>
				<i class="glyphicon glyphicon-export" data-id="{{id}}" title="复制RAP插件地址"></i>
				<i class="glyphicon glyphicon-eye-open" data-id="{{id}}"></i>
				<i class="glyphicon glyphicon-trash" data-id="{{id}}"></i>
			</div>
			<input type="hidden" class="accounts-hidden" value="{{accounts}}"/>
        </div>

</script>


<script type="text/tmpl" id="update-proj-tmpl">
<div class="form-horizontal" role="form">
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">项目名称 <span style="color:red">&#42;</span></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" style="width:432px;" placeholder="请在此编辑项目名称" value="{{{name}}}"/>
    </div>
  </div>
 <div class="form-group">
    <label for="" class="col-sm-2 control-label">项目描述</label>
    <div class="col-sm-10">
      <textarea class="form-control desc" style="width:432px;resize:vertical;" placeholder="请在此编辑项目描述">{{{desc}}}</textarea>
    </div>
  </div>
<div class="form-group">
    <label for="" class="col-sm-2 control-label">项目成员</label>
    <div class="col-sm-10 picking-user" style="position:relative">
	  {{#users}}
	  <span class="picked-user" data-name="{{name}}" data-account="{{account}}" title="{{account}} ({{name}})">{{account}} ({{name}})<i class="unpick-btn">&times;</i></span>
	  {{/users}}
	  <input class="form-control accounts-inputer" placeholder="添加项目成员"/>
	  <span class="user-loading">项目成员列表加载中，请稍候~ </span>
	  <span class="glyphicon glyphicon-question-sign tip" title="公开团队RAP系统所有用户都可以搜到,如果是一般的私有团队,必须是团队成员才可以加入到项目成员里.如果找不到,请叫团队的管理员,先将该用户添加为团队成员.">找不到TA?</span>
      <div class="accounts-con"></div>
	</div>
  </div>
</div>

</script>

<script type="text/tmpl" id="create-proj-tmpl">
<div class="form-horizontal" role="form">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">
            项目名称
            <span style="color:#CC0000;">
                &#42;
            </span>
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" style="width:432px;" placeholder="请在此编辑项目名称"
            value="{{name}}" />
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">
            项目描述
        </label>
        <div class="col-sm-10">
            <textarea class="form-control desc" style="width:432px;resize:vertical;"
            placeholder="请在此编辑项目描述">
                {{desc}}
            </textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">
            项目归属
             <span style="color:#CC0000;">
                &#42;
            </span>
        </label>
        <div class="col-sm-10 project-target" style="position:relative">
            <div class="clearfix">
                <select class="form-control team">
                    <option>
                        --请选择团队--
                    </option>
                    #foreach($corp in $allCorpList)
                    <option value="$corp.id">
                        $!utils.escapeInH($corp.name)
                    </option>
                    #end
                </select>
                <span>
                    <select class="form-control productline">
                        <option value="">
                            --请选择产品线--
                        </option>
                    </select>
                </span>
                <span>
                    <select class="form-control group">
                        <option value="">
                            --请选择分组--
                        </option>
                    </select>
                    <br>
                </span>
            </div>
            <div class="create-new-entity-container">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">
            项目成员
        </label>
        <div class="col-sm-10 picking-user disabled" style="position:relative">
            {{#users}}
            <span class="picked-user" data-name="{{name}}" data-account="{{account}}"
            title="{{account}} ({{name}})">
                {{account}} ({{name}})
                <i class="unpick-btn">
                    &times;
                </i>
            </span>
            {{/users}}
            <input class="form-control accounts-inputer" placeholder="添加项目成员" disabled/>
            <span class="user-loading">
                项目成员列表加载中，请稍候~
            </span>
            <span class="glyphicon glyphicon-question-sign tip" title="如果该用户没有登录/注册过RAP，系统中就没有TA的信息。请TA先登录一下RAP吧。匹配时请可以输入TA的花名或帐号(域帐号)">
                找不到TA?
            </span>
            <div class="accounts-con">
            </div>
        </div>
    </div>

</div>

</script>

<script type="text/tmpl" id="create-group-tmpl">
<div class="form-horizontal" role="form">
  <div class="form-group" style="margin-bottom:0">
    <label for="inputPassword3" class="col-sm-2 control-label">分组名称 <span style="color:red">&#42;</span></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" style="width:432px;" placeholder="请在此添加分组名称" value=""/>
    </div>
  </div>
</div>

</script>

<script type="text/tmpl" id="create-productline">
<div class="form-horizontal" role="form">
  <div class="form-group" style="margin-bottom:0">
    <label for="productline-inputer" class="col-sm-2 control-label">名称 <span style="color:red">&#42;</span></label>
    <div class="col-sm-10">
      <input type="text" id="productline-inputer" class="form-control" style="width:432px;" placeholder="请在此添加产品线名称" value="{{value}}"/>
    </div>
  </div>
</div>

</script>

<script type="text/tmpl" id="option-list-tmpl">
{{#items}}
<option value="{{id}}">{{name}}</option>
{{/items}}

</script>
</script>
<script src = "./home/index.js?_r=$!timeStamp" ></script>
#bodyEnd
</body>
</html>