<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#parse('/tcom/template.rap.vm')
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>RAP Doc        </title>
		#includeRapStatic
	</head>
	<body>
	    #bodyStart
			<div id="document">
			This is the document page...	
			</div>
		#bodyEnd
	</body>
</html>
