<pre>
1. 目的
	a) 提供一组API允许用户通过脚本来改写伪造数据的规则，方便自动化测试。
2. 提供的接口
	a) RAP将提供两个接口用于mock数据规则的控制
		i. 接口一：_modify_
			1. 输入参数
				a) actionId（RAP中每个请求信息列表中提供，系统自动生成）
				b) mockChangeData 测试数据脚本
				i. 规则：以_AND_分隔多组数据，通过request/response区分请求参数列表及响应参数列表（目前主要为response，request作为以后的扩展接口）
				ii. 通过点 . 操作符来按层级索引参数，如：参数1.子参数.子子参数 …
				iii. 通过@标签 来修改mock行为，每个参数可添加多个行为标签，目前支持的标签有：
					1. @value  固定值，如@value=2012-02-23 则该字段返回的所有数据值均为2012-02-23, 另外@value支持[xx]，常用于如期，如@value=2012-02-[xx]则生成的数据将按顺序为：2012-02-01, 2012-02-02, 2012-02-03.. 等等
					2. @format 格式化，如@format=0.xxxx 则生成4位随机小数如0.1232, 0.2543等等。x表示0-9的随机数，类似的@format=xxxxx表示五位随机整数
					3. @length 数组长度，如@length=7 表示生成7组数据，该标签仅支持添加在数组类型的参数中
					4. 其它标签根据需求可以扩展、变更和新增。
				iv. 样例：response.param1.subParam=@format=x.xxxx_AND_response.param2=@value=1_AND_response.param3.subParam.subSubParam=@length=7
			2. 输出参数：isOk 是否成功
		ii. 接口二：_reset_
			1. 该接口将清空所有的mock规则数据。
			2. 输入参数：projectId 项目ID
			3. 输出参数：isOk 是否成功
3. 关于实体
	a) 给tb_parameter参数实体增加新的字段：mockData用于存放QA脚本产生的规则
4. 关于处理逻辑
	a) 开始处理
	b) 遍历请求中的参数、子参数
		i. 该参数是否有mockData?
			1. 有：使用mockData
			2. 无：使用参数备注中的mock标签（平台中填写的）
	c) 生成伪造数据
	d) 返回数据并结束
</pre>
