<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>RAP Dashboard</title>
        #parse('/tcom/template.rap.vm')
        #includeNewRapStatic
        <link rel="shortcut icon" href="/stat/img/favicon.ico">
        <script type="text/javascript" src="${staticRoot}/highcharts/js/highcharts.js"></script>
        <script type="text/javascript" src="${staticRoot}/js/util/dateFormat.min.js"></script>
        <script type="text/javascript" src="log.js"></script>
        <style type="text/css">
            .tab-pane {
                height: 350px;
            }
            #realtime {
                margin-bottom: 15px;
                height: 250px;
            }
            #debug {display:none;}
            #debug .content {
                width: 1140px;
                word-break: break-all;
            }
            .data-tab {
                font-size: 30px;
                color: #888;
                margin-top: 120px;
                padding: 14px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        #bodyNewStart
        <div class="container">
            <h2><span class="glyphicon glyphicon-dashboard"></span>&nbsp;RAP Dashboard</h2>
            <div id="debug" class="row">
                <div class="col-md-12">
                    <h3>DEBUG INFO</h3>
                    <div class="content">$realtimeJSON</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3><span class="glyphicon glyphicon-time"></span>&nbsp;Realtime Data</h3>
                    <div id="realtime">loading...</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-signal"></span>&nbsp;Trends Data</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#userTrend" role="tab" data-toggle="tab">User Trend</a></li>
                        <li><a href="#checkInTrend" role="tab" data-toggle="tab">Doc Submit Trend</a></li>
                        <li><a href="#projectTrend" role="tab" data-toggle="tab">Project Trend</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="userTrend"></div>
                        <div class="tab-pane fade" id="checkInTrend"></div>
                        <div class="tab-pane fade" id="projectTrend"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-user"></span>&nbsp;Use Data</h3>
                    <div class="data-tab">
                    Now there're <span class="label label-primary">$modelLogMap.get("User count").getValue()</span>&nbsp; engineers<br />
                    <span class="label label-primary">$modelLogMap.get("Project count").getValue()</span>&nbsp; projects using RAP。<br />
                    We defined
                    <span class="label label-primary">$modelLogMap.get("APIs count").getValue()</span>&nbsp; APIs here.<br />RAP help you create MOCK data more than <br />
                    <span class="label label-danger label-sx" id="mockDataInDashboard" data-start="$modelLogMap.get("Mock invocation count").getValue()">$modelLogMap.get("Mock invocation count").getValue()</span>&nbsp; times！
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-time"></span>&nbsp;Data of Today</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#mockByProjectTop5Today" role="tab" data-toggle="tab">Active Project</a></li>
                        <li><a href="#ipLog" role="tab" data-toggle="tab" class="tip" title="css/js/html/img/font excluded"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;active IP</a></li>
                        <li><a href="#userLog" role="tab" data-toggle="tab" class="tip" title="css/js/html/img/font excluded"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;active user</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content" style="height:400px;">
                        <div class="tab-pane fade in active" id="mockByProjectTop5Today"></div>
                        <div class="tab-pane fade" id="ipLog">
                            <table class="table table-hover" style="width:300px;">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>IP</td>
                                    <td>Count</td>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($item in $logger.ipLog)
                                    <tr>
                                        <td>$velocityCount</td>
                                        <td>$item.key</td>
                                        <td>$item.value</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="userLog">
                            <table class="table table-hover" style="width:300px;">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Account</td>
                                    <td>Count</td>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($item in $logger.userLog)
                                        #if($item.key)
                                            <tr>
                                                <td>$velocityCount</td>
                                                <td>$item.key</td>
                                                <td>$item.value</td>
                                            </tr>
                                        #end
                                    #end
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><span class="glyphicon glyphicon-th"></span>&nbsp;Global Data</h3>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#team" role="tab" data-toggle="tab">APIs by team</a></li>
                        <li><a href="#statistics" role="tab" data-toggle="tab">System Data</a></li>
                        <li><a href="#mockByProjectTop5" role="tab" data-toggle="tab">Mock service top 5</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="team"></div>
                        <div class="tab-pane fade" id="statistics">
                            <table class="table table-hover" style="width:300px;">
                                <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Key</td>
                                    <td>Count</td>
                                </tr>
                                </thead>
                                <tbody>
                                    #foreach($item in $modelLog)
                                    <tr>
                                        <td>$velocityCount</td>
                                        #if($item.title)
                                        <td>
                                            <a class="tip" title="$item.title">
                                                <span class="glyphicon glyphicon-question-sign"></span>&nbsp;$item.key
                                            </a>
                                        </td>
                                        #else
                                        <td>$item.key</td>
                                        #end
                                        <td>$item.value</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="mockByProjectTop5"></div>
                    </div>
                </div>
            </div>

        </div>
        #bodyEnd
        <script>
            loadTrends($trendsJSON);
            loadStatistics($statisticsJSON);
            loadRealtime($realtimeJSON, '$platformUrl.realtimeUpdate', '$serverTime');
            $('.tip').tooltip();
        </script>
    </body>
</html>