---
layout: page
script: assets/post.js
---

<div id="page">
  {% include settings.html %}
  <div id="content">
    <div id="content-wrap">
      {% include ceiling.html %}
      {% include toc.html %}
      <article class="type">
        <h1>{{ page.title }}</h1>
        <div class="authors">
          {% for author in page.authors %}
          <address>
            <a href="{{ author.homepage }}">{{ author.name }}</a>
          </address>
          {% endfor %}
        </div>
        {{ content }}
      </article>
      {% include duoshuo.html %}
      {% include footer.html %}
    </div>
  </div>
  <div id="nav" class="clearfix">
    <a href="javascript:void(0)" class="toggler" id="J_toggler">
      <i class="iconfont">&#271;</i> 导航
    </a>
    <a href="{{ site.baseurl }}/" class="logo">
      <i class="iconlogo mi-rap dib"></i> <span class="logo-text dib">RAP</span>
    </a>
    <ul class="menu">
      <li>
        <a href="https://github.com/thx/RAP" target="_blank" class="entry">
          <i class="iconfont">&#61464;</i> Github
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/apis" class="entry">
          <i class="iconfont">&#267;</i> API
        </a>
      </li>
      
      <li>
        <a href="{{ site.baseurl }}/resources" class="entry">
          <i class="iconfont">&#248;</i> Resources
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/faq" class="entry">
          <i class="iconfont">&#228;</i> Q&A
        </a>
      </li>

      <li>
        <a href="{{ site.baseurl }}/tutorials" class="entry">
          <i class="iconfont">&#338;</i> Tutorials
        </a>
      </li>
    </ul>
  </div>
</div>