body {
    color: #000;
    margin: 0;
    padding: 1px;
    font-size: 13px;
    font-family: Arial
}

form, h1, h2, h3, h4, ul, li, dl, dt, dd, p {
    margin: 0;
    padding: 0
}

img {
    border: 0;
    margin: 0;
    padding: 0
}